header {
  .documentTitle {
    font-weight: var(--Bold);
    font-size: var(--SubTitle-1);
    line-height: 1.4;
  }

  .documentNo {
    padding-left: 28px;
    font-weight: var(--Regular);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    color: var(--Subtext-Color);
  }

  .messageButton {
    padding: 8px;
    border: 0.82px solid var(--Stroke-Color);
    background-color: var(--Card-Image);
    min-width: unset;
  }
}

.mainDropdown {
  ul {
    border-radius: 12px;
    padding: 0;
    background-color: var(--Card-Color);
    color: var(--Primary-Text-Color);
    padding: 4px;
    box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    min-width: 180px;

    &:hover {
      background-color: var(--Card-Image);
    }

    p {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-4);
      line-height: 1.4;
      letter-spacing: 0%;
      color: var(--Primary-Text-Color);
      width: 100%;
    }
  }
}
