header {
    .documentTitle{
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
    }
    .documentNo {
        padding-left: 28px;
        font-weight: 500;
        font-size: 12px !important;
        line-height: 140%;
        color: #898B94;
    }
}