// .docsPageMain {
//   height: calc(100dvh - 65px);
//   overflow-y: auto;
// }

.docsMain {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: calc(100dvh - 65px);
  flex-direction: column;
  margin-top: 12px;
}

.docsListing {
  position: relative;
  height: calc(100dvh - 65px);
  display: flex;
  flex-direction: column;
  // height: unset;
  width: 100%;
  overflow-y: hidden;

  .docBoxMain {
    width: 100%;
    padding: 0 33px 0 33px;
    // padding: 12px 33px 24px 33px;
    // height: calc(100% - 140px - 91px);
    overflow-y: auto;
    flex-grow: 1;
    flex: 1;

    @media (max-width: 1440px) {
      height: calc(100% - 74px - 91px + 12px);
      padding: 12px 24px 24px 24px;
    }

    @media (max-width: 1200px) {
      padding: 12px 16px 24px 16px;
    }

    @media (max-width: 800px) {
      height: calc(100% - 74px - 91px - 68px);
    }

    .noRecordsFound {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      color: var(--Subtext-Color);
      font-size: var(--SubTitle-2);
      min-height: calc(100dvh - 65px - 74px - 91px - 36px);
    }

    .docGridBox {
      background-color: var(--Card-Color);
      padding: 8px;
      border-radius: 10px;
      border: 1px solid transparent;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: unset;
      max-width: 100%;

      &.active {
        border: 1px solid var(--Card-Border);
      }

      &:hover {
        border: 1px solid var(--Stroke-Color);
      }

      &:active {
        border: 1px solid var(--Card-Border);
      }

      .docBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        .pdfImg {
          width: 34px;
          height: 34px;
          background-color: var(--Card-Color);
          border-radius: 4px;
          padding: 7px;
          flex: 0 0 auto;
          border: 1px solid var(--Stroke-Color);
          cursor: pointer;
        }

        .docTitle {
          font-weight: var(--Regular);
          font-size: var(--SubTitle-2);
          line-height: 19px;
          color: var(--Primary-Text-Color);
          width: calc(100% - 70px);
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          cursor: pointer;

          span {
            display: block;
            font-weight: var(--Lighter);
            font-size: var(--SubTitle-5);
            line-height: 1.4;
            color: var(--Subtext-Color);
            margin-top: 2px;
          }
        }

        .moreImg {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      .docDateBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-top: 8px;

        .docTagBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          max-width: calc(100% - 80px);

          .docTag {
            font-weight: var(--Lighter);
            font-size: var(--SubTitle-5);
            line-height: 16px;
            color: var(--Subtext-Color);
            padding: 4px 8px;
            border: 0.5px solid var(--Stroke-Color);
            border-radius: 500px;
            background-color: var(--Card-Image);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .docTagCount {
            font-weight: var(--Regular);
            font-size: var(--SubTitle-5);
            line-height: 16px;
            color: var(--Subtext-Color);
          }
        }

        p {
          font-weight: var(--Lighter);
          font-size: var(--SubTitle-5);
          line-height: 1.4;
          text-align: right;
          text-transform: capitalize;
          color: var(--Subtext-Color);
          min-width: fit-content;
        }
      }
    }
  }
}

.docsBoard {
  min-width: 500px;
  max-width: 100%;
  width: 500px;
  border-left: 1px solid var(--Stroke-Color);
  position: relative;
  height: calc(100dvh - 65px);
  overflow-y: auto;
  transition: all 0.4s;
  animation: slideDown 0.4s ease-out forwards;

  @keyframes slideDown {
    0% {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 1400px) {
    min-width: 400px;
    max-width: 100%;
  }

  @media (max-width: 1024px) {
    min-width: 320px;
    max-width: 100%;
  }

  @media (max-width: 800px) {
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }
}

.docBoxMain {
  .docBoxInner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 16px;
    overflow: hidden;
    max-width: 100%;

    .docGridBox {
      width: calc(33.33% - 10.66px);
      max-width: 100%;

      @media (max-width: 1200px) {
        width: calc(50% - 8px);
      }

      @media (max-width: 550px) {
        width: calc(100%);
      }
    }
  }
}

.docBoxMainOpen {
  .docBoxInner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    overflow: hidden;
    max-width: 100%;

    .docGridBox {
      width: calc(50% - 8px);
      max-width: 100%;

      @media (max-width: 1300px) {
        width: calc(100%);
      }

      @media (max-width: 550px) {
        width: calc(100%);
      }
    }
  }
}