.backButton {
  background-color: var(--Input-Box-Colors) !important;
  padding: 8px !important;
  border: 1px solid #3a3948 !important;
  min-width: fit-content !important;
  margin-right: 12px !important;
}

.drawerSidebarHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  height: auto;
  background: var(--Card-Color);
  border: 0 solid #3a3948;
  border-top: 1px;
  border-bottom: 1px;

  p {
    font-weight: var(--Bold);
    font-size: var(--Heading-4);
    line-height: 140%;
    color: var(--Primary-Text-Color);
  }
}

.dialogSidebar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  height: calc(100% - 58px);

  .dialogSidebarHeader {
    width: 100%;

    .dialogSemiTitle {
      font-weight: var(--Lighter);
      font-size: 10px;
      line-height: 1.4;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: var(--Subtext-Color);
    }

    .dialogSidebarContent {
      margin-top: 8px;

      button {
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 4px;
        margin-top: 8px;
        text-transform: capitalize;

        &:first-child {
          margin-top: 0;
        }

        &.active,
        &:hover {
          background-color: var(--Card-Image);
        }

        img {
          flex: 0 0 auto;
          margin-right: 5.5px;
        }

        p {
          text-align: start;
          width: 100%;
          font-weight: var(--Medium);
          font-size: var(--SubTitle-4);
          line-height: 1.4;
          color: var(--Primary-Text-Color);
          margin-right: 4px;
        }
      }
    }
  }
}
