.my-plan-container {
  width: 100%;
  height: calc(100vh - 65px);
  overflow-y: auto;
  padding: 24px 20px;
}

// active-plan

.active-plan-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;

  .active-plan-main {
    background: var(--Main-Gradient);
    border-radius: 16px;
    padding: 1px;
    width: 100%;

    .active-plan {
      background: var(--Card-Color);
      border-radius: 16px;
      padding: 24px 32px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      height: 100%;

      .plan-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;

        figure {
          display: flex;
          background-color: var(--Input-Box-Colors);
          width: fit-content;
          border-radius: 500px;
          padding: 8px;
          aspect-ratio: 1 / 1;

          img {
            aspect-ratio: 1 / 1;
          }
        }

        .plan-description {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 8px;

          h3 {
            font-size: var(--Heading-3);
            font-weight: var(--Bold);
            color: var(--Txt-On-Gradient);
            text-transform: uppercase;
          }

          p {
            font-size: var(--SubTitle-3);
            font-weight: var(--Lighter);
            color: var(--Subtext-Color);
            margin-top: 4px;
          }

          .plan-status {
            p {
              background-color: #b948ff1a;
              padding: 4px 10px;
              font-size: var(--SubTitle-5);
              font-weight: var(--Lighter);
              color: var(--Card-Border);
              border-radius: 500px;
              margin: 0;
            }
          }
        }
      }

      .plan-actions {
        p {
          font-size: var(--SubTitle-1);
          font-weight: var(--Bold);
          color: var(--Txt-On-Gradient);
          margin: 0;

          span {
            font-size: var(--SubTitle-2);
            font-weight: var(--Lighter);
            color: var(--Subtext-Color);
          }
        }
      }

      .plan-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border-top: 1px solid var(--Stroke-Color);
        margin-top: 24px;
        padding-top: 20px;

        .plan-footer-description {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 18px;

          p {
            font-size: var(--SubTitle-3);
            font-weight: var(--Lighter);
            color: var(--Txt-On-Gradient);
          }
          span {
            color: var(--Subtext-Color);
          }
        }

        .plan-footer-actions {
          .cancel-plan-btn {
            font-size: var(--SubTitle-3);
            font-weight: var(--Medium);
            color: #e72240;
            padding: 0;
          }
        }
      }
    }
  }

  .active-plan-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--Card-Color);
    padding: 0;
    flex: 0 0 auto;
    border: 1px solid var(--Stroke-Color);
    border-radius: 16px;
    padding: 22px 34px;

    .storage-info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 3;

      h6 {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-3);
        text-align: center;
        color: var(--Primary-Text-Color);
        line-height: 20px;
      }

      h5 {
        font-weight: var(--Bold);
        font-size: var(--Heading-4);
        color: var(--Card-Border);
        margin-top: 2px;
        line-height: 25px;
      }

      p {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-3);
        color: var(--Subtext-Color);
        margin-top: 2px;
        line-height: 20px;
      }
    }
  }
}

// plan-history

.history-plan-main {
  margin-top: 50px;

  .history-plan {
    .table-container {
      border: 1px solid var(--Stroke-Color);
      background: var(--Background-Color);
      border-radius: 12px;

      h2 {
        padding: 16px 24px;
        font-size: var(--Heading-2);
        font-weight: var(--Bold);
        color: var(--Primary-Text-Color);
        line-height: 34px;
      }

      table {
        tr {
          th {
            color: var(--Subtext-Color);
            font-size: var(--SubTitle-3);
            font-weight: var(--Lighter);
            border: 1px solid #3a3948;
            border-width: 1px 0px 1px 0px;
            padding: 10px 24px;
          }

          td {
            color: var(--Primary-Text-Color);
            font-size: var(--SubTitle-2);
            font-weight: var(--Lighter);
            border: none;
            padding: 10px 24px;
          }
        }
      }
    }
  }
}

// subscription-plan

.subscription-plan-body {
  background: linear-gradient(90deg, #3e384c 0%, #11101b 100%);
  padding: 1px;
  border-radius: 16px 0 0 16px;
  width: 100%;
  flex: 0 0 25%;
  overflow: hidden;

  .subscription-plan-sidebar {
    background: linear-gradient(
      90deg,
      var(--Card-Color) 0%,
      rgba(185, 72, 255, 0) 100%
    );
    border-radius: 16px 0 0 16px;
    height: 100%;
  }

  .subscription-plan-container {
    background: linear-gradient(
      90deg,
      rgba(185, 72, 255, 0.08) 0%,
      rgba(185, 72, 255, 0) 100%
    );

    border-radius: 16px 0 0 16px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    .subscription-plan-header {
      padding: 20px;
      width: 100%;

      h2 {
        font-size: var(--Heading-2);
        font-weight: var(--Bold);
        color: var(--Primary-Text-Color);
        margin: 0;
      }

      .toggle-button-group {
        border: 1.2px solid var(--Stroke-Color);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: fit-content;
        background-color: transparent;
        border-radius: 14px;
        padding: 4px;
        margin-top: 20px;
        background: var(--Card-Color);

        .toggle-button {
          margin: 0;
          border: none;
          padding: 6px 20px;
          border-radius: 10px;
          background: transparent;
          color: var(--Subtext-Color);
          cursor: pointer;
          transition: all 0.4s;

          font-size: var(--SubTitle-3);
          font-weight: var(--Medium);
          text-transform: capitalize;

          &:last-child {
            margin-left: 4px;
          }

          &:hover,
          &.active {
            background: var(--Main-Gradient);
            color: var(--Txt-On-Gradient);
          }
        }
      }

      p {
        font-size: var(--SubTitle-3);
        font-weight: var(--Lighter);
        color: var(--Primary-Text-Color);
        margin-top: 10px;

        span {
          color: var(--Card-Border);
        }
      }
    }

    .subscription-plan-footer {
      background-image: url('/images/Line.svg');
      background-repeat: no-repeat;
      width: 100%;

      div {
        &:last-child p {
          border-bottom: none;
        }
        p {
          padding: 6px 20px;
          font-size: var(--SubTitle-3);
          font-weight: var(--Lighter);
          color: var(--Primary-Text-Color);
          border-bottom: 1px solid rgb(137, 139, 148, 0.2);
          height: 52px;
          display: flex;
          justify-content: start;
          align-items: center;
        }
      }
    }
  }
}

.subscription-package-body {
  // background: var(--Card-Color);
  width: 100%;
  position: relative;
  transition: all 0.4s;

  .subscription-package-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background: var(--Card-Color);
    transition: all 0.4s;
    overflow: hidden;

    .subscription-package-header {
      padding: 24px 20px;
      width: 100%;

      .subscription-package-header-title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 10px;
        .subscription-package-header-title-text {
          h2 {
            font-size: var(--Heading-2);
            font-weight: var(--Bold);
            color: var(--Primary-Text-Color);
            margin: 0;
          }

          p {
            font-size: var(--Heading-3);
            font-weight: var(--Medium);
            color: var(--Primary-Text-Color);
            margin-top: 4px;

            span {
              font-size: var(--SubTitle-3);
              font-weight: var(--Lighter);
              color: var(--Subtext-Color);
            }
          }
        }

        .subscription-package-header-image {
          img {
            width: 90px;
            height: auto;
            aspect-ratio: 1 / 1;
          }
        }
      }

      p {
        font-size: var(--SubTitle-2);
        font-weight: var(--Lighter);
        color: var(--Subtext-Color);
        margin-top: 16px;
      }

      .subscription-package-button {
        font-size: var(--SubTitle-2);
        font-weight: var(--Medium);
        line-height: 16px;
        width: 100%;
        border-radius: 12px;
        background: var(--Card-Color);
        border: 1px solid var(--Stroke-Color);
        padding: 15px;
        text-align: center;
        text-transform: capitalize;
        margin-top: 28px;
        color: var(--Primary-Text-Color);
        transition: all 0.4s;

        &.active,
        &:hover {
          background: var(--Main-Gradient);
          color: var(--Primary-Text-Color);
          border: 1px solid var(--Card-Color);
        }

        &.default {
          color: var(--Placeholder-Text);
          cursor: default;

          &:hover {
            background: var(--Card-Color);
            color: var(--Placeholder-Text);
            border: 1px solid var(--Stroke-Color);
          }
        }
      }
    }

    .subscription-package-footer {
      background-image: url('/images/Line.svg');
      background-repeat: no-repeat;
      width: 100%;

      div {
        text-align: center;
        &:last-child figure,
        &:last-child p {
          border-bottom: none;
        }
        p {
          padding: 6px 20px;
          font-size: var(--SubTitle-3);
          font-weight: var(--Lighter);
          color: var(--Primary-Text-Color);
          border-bottom: 1px solid rgb(137, 139, 148, 0.2);
          text-align: center;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        figure {
          padding: 6px 20px;
          border-bottom: 1px solid rgb(137, 139, 148, 0.2);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.subscription-package-main {
  display: flex;
  justify-content: start;
  align-items: stretch;
  border: 1px solid var(--Stroke-Color);
  border-radius: 16px;
  // overflow: hidden;
  flex: 0 0 75%;

  & > :last-child {
    border-right: 0;
  }

  & > :last-child .subscription-package-container {
    border-radius: 0 16px 16px 0;
  }

  & > :first-child .subscription-package-container {
    border-radius: 16px 0 0 16px;
  }

  & > div {
    border-right: 1px solid var(--Stroke-Color);
  }
}

// upgrade-subscription-plan

.upgrade-plan-package-main {
  display: flex;
  justify-content: start;
  align-items: stretch;
  padding: 16px 0;
  overflow: hidden;
}

// upgrade-subscription-plan Hover Effect

.subscription-package-body:hover .subscription-package-container {
  border-radius: 16px;
}

.subscription-package-body:hover
  .subscription-package-container
  .subscription-package-header
  .subscription-package-button {
  background: var(--Main-Gradient);
  color: var(--Primary-Text-Color);
  border: 1px solid var(--Card-Color);
}

.subscription-package-body::after {
  content: '';
  position: absolute;
  top: -16px;
  left: -1px;
  right: -1px;
  bottom: -16px;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}

.subscription-package-body:hover .subscription-package-container {
  z-index: 3;
}

.subscription-package-body:hover::after {
  background: var(--Main-Gradient);
  border-radius: 12px;
  opacity: 1;
  z-index: 0;
}

// upgrade-plan-accordion

.upgrade-plan-accordion {
  background-color: transparent !important;
  margin: 0 !important;
  position: relative;
  margin-top: 32px !important;

  &::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3a3948;
    border-radius: 500px;
    z-index: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
  }

  .upgrade-plan-accordion-summary {
    padding: 0;
    min-height: unset !important;
    width: fit-content;
    margin: 0 auto;
    color: var(--Txt-On-Gradient);
    border: 1px solid var(--Stroke-Color);
    border-radius: 500px;
    overflow: hidden;
    background: var(--Main-Gradient);
    padding: 10px 20px;
    text-transform: capitalize;
    gap: 8px;
    position: relative;
    z-index: 1;

    span {
      margin: 0;
    }
  }

  .upgrade-plan-accordion-details {
    background: transparent;
    margin-top: 50px;
    padding: 0;
  }
}
