.chatHeading {
  width: 100%;
  padding: 0 30px;

  .gridBox {
    margin-top: 28px;

    .gridBoxInner {
      .chatBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        p {
          color: var(--Primary-Text-Color);
          font-weight: var(--Regular);
          font-size: var(--SubTitle-2);
          line-height: 140%;
        }
      }

      .gridBoxButton {
        margin-top: 23px;
      }
    }
  }
}

.chatContainer {
  height: calc(100vh - 65px - 100px - 42px);
  flex-grow: 1;
  margin: 20px 0;
  overflow-y: auto;
  width: 100%;

  &:focus-visible {
    outline: none;
  }

  @media (max-width: 800px) {
    height: calc(100vh - 65px - 97px - 42px - 70px);
  }
}

.chatHeader {
  text-align: center;

  .chatHeaderImage {
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .chatTitle {
    color: var(--Primary-Text-Color);
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: var(--Heading-1);
    line-height: 140%;
  }

  .chatSubtitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-3);
    line-height: 140%;
    text-align: center;
    color: var(--Subtext-Color);
    margin: 0 auto;
  }
}

.chatGridBox {
  border: 1px solid var(--Stroke-Color);
  background-color: var(--Card-Color);
  width: 100%;
  border-radius: 12px;
  padding: 24px 16px;
  height: 100%;
}

// LogIncident class

// .chatLogIncident {
//   position: relative;
//   border: transparent;
//   background-color: transparent;
//   padding: 1px;
//   overflow: hidden;

//   .chatBox {
//     background-color: var(--Card-Color);
//     padding: 24px 16px;
//     border-radius: 14px;
//     position: relative;
//     z-index: 1;

//     // &::before {
//     //   content: '';
//     //   position: absolute;
//     //   width: 200px;
//     //   height: 200px;
//     //   top: 0;
//     //   right: 0;
//     //   z-index: -1;
//     //   background-image: url('/images/log-incident.png');
//     //   background-repeat: no-repeat;
//     //   background-position: top right;
//     //   background-size: contain;
//     //   border-radius: 12px;
//     // }
//   }

//   // p {
//   //   max-width: calc(100% - 70px);
//   // }

//   &::after {
//     content: '';
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     bottom: 0px;
//     background: var(--Main-Gradient);
//     z-index: -1;
//     border-radius: 14px;
//   }
// }

// LogIcon class

.chatLogIcon {
  position: relative;
  background-color: transparent;
  border: transparent;
  padding: 1px;
  overflow: hidden;

  .chatBox {
    background-color: var(--Card-Color);
    padding: 24px 16px;
    border-radius: 14px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: 110px;
      height: 110px;
      top: -2px;
      right: -2px;
      z-index: -1;
      background-image: url('/images/log-incIcon.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      border-radius: 12px;
    }
  }

  p {
    max-width: calc(100% - 70px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--Main-Gradient);
    z-index: -1;
    border-radius: 14px;
  }
}

.chatBoarbMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 100%;
  padding: 100px 0;
  max-width: 1000px;
  margin: 0 auto;
  flex: 0 0 auto;
}

.fileInput {
  padding: 9px 16px !important;
  background-color: var(--Input-Box-Colors);
  width: 100%;
  border-radius: 10px;
  color: var(--Subtext-Color) !important;
  border: 1px solid var(--Stroke-Color);
  display: flex;
  align-items: flex-end !important;
  flex-direction: column;

  .fileInputInner {
    &::after {
      content: none !important;
    }

    &::before {
      content: none !important;
    }

    textarea,
    input {
      color: var(--Primary-Text-Color);
      font-size: var(--SubTitle-3);
      font-weight: var(--Regular);
    }
  }

  &:hover {
    border: 1px solid var(--Subtext-Color);
  }
}

.fileInput:has(textarea:focus),
.fileInput:has(input:focus) {
  border: 1px solid var(--Subtext-Color) !important;
}

.chatBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border: 1px solid var(--Stroke-Color);
  border-radius: 12px;
  padding: 16px;
  margin-top: 24px;
  background-color: var(--Card-Color);

  @media (max-width: 768px) {
    margin-top: 10px;
  }

  button {
    // margin-bottom: 5px;
    outline: 0.5px solid transparent;
    transition: all 0.4s;

    &:hover {
      outline: 0.5px solid var(--Card-Border);
    }
  }
}

.fileIcon {
  cursor: pointer;
  margin-bottom: 2px;

  .clip {
    background-image: url('/images/paperclip.svg');
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 1;
    transition: all 0.4s;

    &:hover {
      scale: 1.1;
    }
  }
}

@media (max-width: 900px) {
  .chatGridBox {
    max-width: 500px;
    margin: 0 auto;
  }

  .chatHeading {
    .gridBox {
      .gridBoxInner {
        // .chatBox {
        //   align-items: center;
        //   flex-direction: row;
        // }

        .gridBoxButton {
          // margin-top: 0;
          flex: 0 0 auto;
        }
      }
    }
  }

  .chatBoarbMain {
    max-width: 100%;
  }

  .chatBoarbMain {
    padding: 50px 0;
    gap: 50px;
  }
}

@media (max-width: 600px) {
  .chatHeading {
    padding: 0 16px;
  }
}

@media (max-width: 500px) {
  .chatGridBox {
    padding: 18px 10px;
  }

  .chatLogIncident {
    padding: 1px;

    .chatBox {
      padding: 18px 10px;
    }
  }

  .chatLogIcon {
    padding: 1px;

    .chatBox {
      padding: 18px 10px;
    }
  }

  .chatHeading {
    .gridBox {
      margin-top: 20px;

      .gridBoxInner {
        .gridBoxButton {
          margin-top: 13px;
          font-size: var(--SubTitle-3);
        }
      }
    }
  }

  .chatHeader {
    .chatTitle {
      font-size: var(--Heading-2);
      margin-bottom: 8px;
    }
  }

  .chatBoard {
    padding: 16px 12px;
    margin-top: 6px;
  }
}

.backButton {
  background-color: var(--Input-Box-Colors) !important;
  padding: 8px !important;
  border: 1px solid #3a3948 !important;
  min-width: fit-content !important;
  margin: 0 !important;
  margin-right: 12px !important;
}

.chatResBox {
  padding: 8px 16px;
  background-color: var(--Card-Color);
  border-bottom: 1px solid var(--Stroke-Color);
  position: sticky;
  top: 65px;
  z-index: 2;
  display: none;
  width: 100%;

  @media (max-width: 800px) {
    display: block;
  }

  .chatResBoxInner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .chatResSemiTitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-5);
    line-height: 140%;
    color: var(--Subtext-Color);
    padding-left: 46px;
  }
}

.chatResBox .chatResTitle {
  font-weight: var(--Regular);
  font-size: var(--SubTitle-1);
  line-height: 1.4;
  letter-spacing: 0%;
  color: var(--Primary-Text-Color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

// Drag and drop styles
.dropOverlay {
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .dropOverlayInner {
    // background-color: var(--Input-Box-Colors);
    // border: 1px solid var(--Stroke-Color);
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
  }

  p {
    font-weight: var(--Lighter);
    font-size: var(--SubTitle-3);
    line-height: 1.4;
    text-align: center;
    color: var(--Primary-Text-Color);
    margin: 0 auto;
    margin-top: 9px;
    max-width: 240px;

    &:last-child {
      max-width: unset;
    }

    span {
      border-bottom: 1px solid transparent;
    }
  }

  img {
    margin: 0 auto;
  }
}

.fileBoxDrag {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-height: 120px;
  overflow-y: auto;
  padding-bottom: 1px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  >div {
    margin-top: 0 !important;
  }
}

// Drag and drop styles