.headerDialogBox {
  .dialogHeader {
    padding: 48px 24px 40px 24px;
    text-align: center;

    @media (max-width: 500px) {
      padding: 48px 16px 40px 16px;
    }

    .dialogTimer {
      background: #e72240;
      border-radius: 500px;
      width: fit-content;
      padding: 10px;
      margin: 0 auto;
      aspect-ratio: 1 / 1;
      width: 120px;

      .dialogTimerLog {
        background: var(--Card-Color);
        border-radius: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .dialogTimerStore {
          font-size: var(--Heading-4);
          font-weight: var(--Bold);
          color: var(--Primary-Text-Color);
          margin-top: 0;

          span {
            font-size: var(--SubTitle-3);
            font-weight: var(--Lighter);
            color: var(--Subtext-Color);
          }
        }

        .dialogTimerStoreName {
          font-size: var(--SubTitle-5);
          font-weight: var(--Lighter);
          color: var(--Primary-Text-Color);
          margin-top: 0;
        }
      }
    }

    h2 {
      font-size: var(--Heading-2);
      font-weight: var(--Bold);
      color: var(--Primary-Text-Color);
      max-width: 360px;
      margin: 0 auto;
      margin-top: 24px;
    }
    p {
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      font-weight: var(--Lighter);
      color: var(--Subtext-Color);
      max-width: 360px;
      margin: 0 auto;
      margin-top: 8px;
    }
  }

  .dialogFormButtonBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 32px;

    @media (max-width: 380px) {
      flex-direction: column;
    }

    .formCancelBtn {
      text-transform: capitalize;
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      line-height: 10px;
      letter-spacing: 0px;
      min-width: 140px;
      border: 1px solid var(--Stroke-Color);
      color: var(--Subtext-Color);
      border-radius: 12px;
      padding: 16px 34px;
      transition: all 0.2s;

      @media (max-width: 380px) {
        width: 100%;
      }

      &:hover {
        color: var(--Txt-On-Gradient);
      }
    }

    .formContinueBtn {
      text-transform: capitalize;
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      line-height: 10px;
      letter-spacing: 0px;
      min-width: 140px;
      background: var(--Main-Gradient);
      color: var(--Txt-On-Gradient);
      outline: 1px solid transparent;
      border-radius: 12px;
      padding: 16px 34px;
      transition: all 0.2s;

      @media (max-width: 380px) {
        width: 100%;
      }

      &:hover {
        outline: 1px solid var(--Card-Border);
      }
    }
  }
}
