.chatWindow {
  width: 100%;
}

.chatDate {
  width: 100%;
  position: relative;
  margin-bottom: 24px;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #3a3948;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }

  &:first-child{
    margin-top: 24px;
  }

  span {
    border: 0.5px solid #3a3948;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border-radius: 24px;
    min-width: 153px;
    padding: 2px 4px;
    background-color: #11101b;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 3.68px;
    text-align: center;
    text-transform: uppercase;
    color: #898b94;
  }
}

.chatAl {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  align-items: flex-start;
  max-width: 490px;
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 32px;

  .chatAlContent {
    overflow: hidden;
    border-radius: 8px;
    background-color: unset;

    .chatAlContentText {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -2%;
      text-align: left;
      color: #dadae1;
      padding: 8px 12px;
      background-color: #1b1a25;
    }

    .chatAlIcon {
      overflow: hidden;
      width: fit-content;
      background-color: #1b1a25;
      border-radius: 0 0 8px 8px;
      padding: 4px 8px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      button {
        padding: 0;
        min-width: 18px;
        max-width: 18px;
        display: block;
        height: 18px;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-2px);
          transition: all 0.3s;
        }

        span {
          display: none;
        }
      }
    }
  }
}

span.chatTime {
  border-top: 0.5px solid #3a3948;
  background-color: #1b1a25;
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: #676972;
  padding: 6px 8px;
  border-radius: 0 0 8px 0;
}

.chatAlUser {
  margin-right: 0;
  margin-left: auto;

  .chatAlContent {
    background-color: #1b1a25;

    .chatAlContentText {
      text-align: right;
    }
  }
}

.chatUserProgress {
  border-radius: 12px;

  .chatAlContent {
    min-width: 350px;
    padding: 8px;
    border-radius: 0;

    .fileBox {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      padding-top: 8px;
      border-top: 1px solid #3a3948;

      .fileIcon {
        padding: 3px 5px;
        background-color: #2c2a38;
        width: fit-content;
      }
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -2%;
      color: #dadae1;

      span {
        display: block;
        padding: 0;
        font-weight: 500;
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #676972;
        text-align: start;
      }
    }

    span {
      border: none;
    }

    .chatAlProgress {
      background-color: #1b1a25;
      margin-top: 8px;

      span {
        border: none;
        background: #2c2a38;
        border-radius: 500px;
        height: 8px;
        overflow: hidden;

        span {
          background-color: transparent;
          background: linear-gradient(
            90deg,
            #2a1ad8 0%,
            #4e26e2 25%,
            #7231ec 50%,
            #953df5 75%,
            #b948ff 100%
          );
          border-radius: 500px;
        }
      }
    }
  }
}

.chatAlContent:first-child .fileBox {
  border-top: none !important;
  padding-top: 0;
}
