@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

:root {
  --font-fustat: 'Fustat', sans-serif;

  --Primary-Text-Color: #DADAE1;
  --Subtext-Color: #898B94;
  --Txt-On-Gradient: #FFFFFF;

  --Main-Gradient: linear-gradient(90deg, #2A1AD8 0%, #4E26E2 25%, #7231EC 50%, #953DF5 75%, #B948FF 100%);
  --Main-Gradient-hover: linear-gradient(90deg, #2A1AD8 0%, #4E26E2 25%, #7231EC 50%, #953DF5 75%, #B948FF 100%);
  --Input-Box-Colors: #252431;

  --Stroke-Color: #3A3948;
  --Placeholder-Text: #61616E;
  --Card-Color: #1B1A25;
  --Card-Border: #B948FF;
  --Card-Image: #2c2a38;

  --Background-Color: #11101B;

  --Bold: 700;
  --Medium: 600;
  --Regular: 500;
  --Lighter: 400;

  --Heading-1: 28px;
  --Heading-2: 24px;
  --Heading-3: 20px;
  --Heading-4: 18px;
  --Heading-5: 16px;
  /* --Heading-6: 16px; */


  --SubTitle-1: 18px;
  --SubTitle-2: 16px;
  --SubTitle-3: 14px;
  --SubTitle-4: 13px;
  --SubTitle-5: 12px;
  --SubTitle-6: 10px;

}

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  background: #11101b;
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb {
  background: #3A3948;
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}

/* Firefox Scrollbar */
* {
  scrollbar-width: auto;
  /* "auto" or "thin" */
  scrollbar-color: black;
  /* thumb color & track color */
}

/* Internet Explorer & Edge (Legacy) */
main.chat-body {
  -ms-overflow-style: none;
  /* Hide default scrollbar */
  display: flex;
  justify-content: center;
  align-items: start;
}

.main-body {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Edge & IE */
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Fustat", sans-serif;
}

body {
  background-color: #11101B;
  color: #b2b1b9;
  padding-right: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* new custom componants css */

body h1 {
  font-size: 36px;
}

body h2,
.h2 {
  font-size: 32px;
}

body h3 {
  font-size: 24px;
}

body h4 {
  font-size: 20px;
}

body h5 {
  font-size: 16px;
}

body h6 {
  font-size: 14px;
}

body p {
  font-size: 16px;
  /* 30% reduction */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  color: #FFFFFF;
  letter-spacing: 0%;
  font-weight: var(--Bold);
}

span,
p,
button,
a,
label,
input,
select {
  line-height: 1.2;
}

a {
  text-decoration: none;
  font-size: 16px;
}

/* colors */

.bg-primary {
  background-color: #11101B;
}

.bg-secondary {
  background-color: #1B1A25;
}

.text-primary {
  color: #FFFFFF;
}

.text-secondary {
  color: #B2B1B9;
}

/* btns */

.btn {
  flex: initial;
  border-radius: 12px;
  font-size: var(--SubTitle-2) !important;
  text-align: center;
  text-transform: capitalize !important;
}

.btn:focus {
  box-shadow: none;
}

/* Start primary btn*/
.btn-group {
  display: flex;
  justify-content: end;
}

.btn.btn-primary {
  background: var(--Main-Gradient);
  color: var(--Txt-On-Gradient);
  border: none;
  font-weight: var(--Bold);
  min-width: 168px;
  width: max-content;
  padding: 10px 24px;
  border-radius: 12px;
}

.btn.btn-primary-arrow {
  background: var(--Main-Gradient);
  color: var(--Txt-On-Gradient);
  border: none;
  font-weight: var(--Bold);
  width: max-content;
  padding: 5px 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: var(--Medium);
  font-size: var(--SubTitle-2) !important;
  line-height: 1.4;
}

.btn.btn-primary-arrow span.incident,
.btn-arrow span.arrow,
.btn.btn-primary-arrow span.arrow {
  background-image: url('/images/buttonArrow.svg');
  width: 14.92px;
  height: 14.92px;
  aspect-ratio: 1 / 1;
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn.btn-primary-arrow span.incident {
  background-image: url('/images/incident.svg');
  width: 18px;
  height: 18px;
}

.btn-arrow {
  background: var(--Main-Gradient);
  padding: 9px !important;
  width: fit-content;
  max-width: fit-content;
  min-width: unset !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: var(--Main-Gradient);
  background-blend-mode: overlay;
  transition: all 0.2s linear;
}

/* Start tertiary btn*/

.btn.btn-tertiary {
  min-width: 163px;
  font-weight: var(--Lighter);
  padding: 10px 24px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--Txt-On-Gradient);
  width: max-content;
  padding: 12px 24px;
  border-radius: 12px;
}

/* Start secondary btn*/

.btn.btn-secondary {
  min-width: 185px;
  padding: 10px 24px;
  border: 1px solid var(--Txt-On-Gradient);
  background-color: transparent;
  text-decoration: none;
  font-weight: var(--Medium);
  width: max-content;
  padding: 12px 24px;
  color: var(--Txt-On-Gradient);
  border-radius: 12px;
  box-shadow: none;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:focus {
  background: white;
  transition: all 0.2s linear;
  border: 1px solid #fff;
  color: #1B1A25;
}

/* Pluse btn*/

.btn.btn-pluse {
  color: var(--Txt-On-Gradient);
  font-size: var(--SubTitle-3);
  line-height: var(--SubTitle-3);
  font-weight: var(--Medium);
  padding: 10px 16px;
  background: var(--Main-Gradient);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  white-space: nowrap;
}

.btn.btn-pluse img {
  margin-right: 4px;
  flex: 0 0 auto;
}

.link-primary {
  font-weight: 600 !important;
  font-size: var(--SubTitle-2) !important;
  letter-spacing: 0%;
  color: var(--Subtext-Color) !important;
  text-decoration: underline;
  text-decoration-color: var(--Subtext-Color) !important;
}

.link-primary:hover {
  color: var(--Txt-On-Gradient);
}


/* ==== Header ===== */

header {
  border-bottom: 1px solid #3A3948;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #11101B;
}

/* 
.nav-open {
  padding-left: 300px;
} */

/* ==== Header ===== */

@media (max-width: 768px) {

  /* Reduce font size */
  body h1 {
    font-size: 25.2px;
    /* 30% reduction */
  }

  body h2,
  .h2 {
    font-size: 22.4px;
    /* 30% reduction */
  }

  body h3 {
    font-size: 16.8px;
    /* 30% reduction */
  }

  body h4 {
    font-size: 14px;
    /* 30% reduction */
  }

  body h5 {
    font-size: 14px;
    /* 30% reduction */
  }

  body h6 {
    font-size: 14px;
    /* 30% reduction */
  }

  body p {
    font-size: 14px;
    /* 30% reduction */
  }

  body a {
    font-size: 14px;
    /* 30% reduction */
  }

  /* Buttons: Reduce padding, font size, and border-radius */
  .btn {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 9.1px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn-group {
    display: flex;
    justify-content: end;
  }

  .btn.btn-primary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 9.1px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-primary:hover,
  .btn.btn-primary:active,
  .btn.btn-primary:focus {
    background: var(--Main-Gradient);
    transition: all 0.2s linear;
  }

  .btn.btn-tertiary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 8.4px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-secondary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 8.4px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-secondary:hover,
  .btn.btn-secondary:active,
  .btn.btn-secondary:focus {
    background: white;
    transition: all 0.2s linear;
    border: 1px solid #fff;
    color: #1B1A25;
  }

  /* Link adjustments */
  .link-primary {
    font-size: var(--SubTitle-3) !important;
    /* 30% reduction */
  }
}


/* auth form ======================= */

form .form-group {
  margin-bottom: 24px;
}

form .form-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  color: #B2B1B9;
}

form .form-control {
  padding: 13px 16px;
  font-weight: var(--Medium);
  font-size: 16px;
  letter-spacing: 0%;
  border-radius: 12px;
  border: 1px solid #3A3948;
  color: #FFFFFF;
  background-color: #252431;
}

form .form-group .input-group {
  display: flex;
}

form .form-control::placeholder {
  color: #B2B1B9;
  font-weight: var(--Lighter);
}

form .form-control:focus {
  border: 1px solid #fff;
  box-shadow: none;
  outline: none;
  background-color: var(--Txt-On-Gradient);
  color: #000000;
}

form .form-select {
  max-width: 60px;
  padding: 10px;
  font-weight: var(--Medium);
  font-size: 16px;
  letter-spacing: 0%;
  border: 1px solid #3A3948;
  color: #FFFFFF;
  background-color: #252431;
  border-radius: 12px 0 0 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
  background-image: url('/images/arrow-down.svg');
}

form .form-select::placeholder {
  color: #B2B1B9;
}

form .form-select:focus {
  border: 1px solid #fff;
  box-shadow: none;
  outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: #3A3948;
  /* border: 1px solid green; */
  -webkit-text-fill-color: var(--Txt-On-Gradient);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* google login  ========================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .select-new {
  border: 0 ;
} */

.select-new.MuiOutlinedInput-root fieldset {
  border: 0;
}

.error-input-field {
  margin-top: 5px;
  color: #ff4d4d;
  font-size: 15px;
}

.fullscreen-loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loader-image {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* pagination */

.pagination-box {
  width: 100%;
  position: sticky;
  bottom: 0px;
  z-index: 1;
  background-color: var(--Background-Color);
}

.pagination {
  border-radius: 10px;
  background-color: var(--Card-Color);
  width: 100%;
}

.pagination ul {
  justify-content: flex-end;
}

.pagination ul li div,
.pagination ul li button {
  color: var(--Subtext-Color);
  font-size: var(--SubTitle-3);
  font-weight: var(--Medium);
}

.pagination ul li button:hover,
.pagination ul li button.Mui-selected {
  background-color: var(--Input-Box-Colors);
  border-radius: 8px;
}

.pagination ul li button:hover,
.pagination ul li button.Mui-selected {
  color: var(--Primary-Text-Color);
}

.pagination ul li button svg {
  fill: var(--Subtext-Color);
}

/* pagination */