@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

:root {
  --font-fustat: 'Fustat', sans-serif;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  background: #11101b;
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb {
  background: #3A3948;
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}

/* Firefox Scrollbar */
* {
  scrollbar-width: auto;
  /* "auto" or "thin" */
  scrollbar-color: black;
  /* thumb color & track color */
}

/* Internet Explorer & Edge (Legacy) */
body {
  -ms-overflow-style: none;
  /* Hide default scrollbar */
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Edge & IE */
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Fustat", sans-serif;
}

body {
  background-color: #11101B;
  color: #b2b1b9;
  padding-right: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* new custom componants css */

body h1 {
  font-size: 36px;
}

body h2,
.h2 {
  font-size: 32px;
}

body h3 {
  font-size: 24px;
}

body h4 {
  font-size: 20px;
}

body h5 {
  font-size: 16px;
}

body h6 {
  font-size: 14px;
}

body p {
  font-size: 16px;
  /* 30% reduction */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  color: #FFFFFF;
  letter-spacing: 0%;
  font-weight: 700;
}

span,
p,
button,
a,
label,
input,
select {
  line-height: 1.2;
}

a {
  text-decoration: none;
  font-size: 16px;
}

/* colors */

.bg-primary {
  background-color: #11101B;
}

.bg-secondary {
  background-color: #1B1A25;
}

.text-primary {
  color: #FFFFFF;
}

.text-secondary {
  color: #B2B1B9;
}

/* btns */

.btn {
  flex: initial;
  border-radius: 12px;
  font-size: 16px !important;
  text-align: center;
  text-transform: capitalize !important;

}

.btn:focus {
  box-shadow: none;
}

/* Start primary btn*/
.btn-group {
  display: flex;
  justify-content: end;
}

.btn.btn-primary {
  background: linear-gradient(90deg, #2A1AD8 0%, #4E26E2 25%, #7231EC 50%, #953DF5 75%, #B948FF 100%);
  color: #fff;
  border: none;
  font-weight: 700;
  min-width: 168px;
  width: max-content;
  padding: 10px 24px;
  border-radius: 12px;
}

.btn.btn-primary-arrow {
  background: linear-gradient(90deg, #2A1AD8 0%, #4E26E2 25%, #7231EC 50%, #953DF5 75%, #B948FF 100%);
  color: #fff;
  border: none;
  font-weight: 700;
  width: max-content;
  padding: 5px 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -2%;
}

.btn-arrow span.arrow,
.btn.btn-primary-arrow span.arrow {
  background-image: url('/images/buttonArrow.svg');
  width: 14.92px;
  height: 14.92px;
  aspect-ratio: 1 / 1;
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-arrow {
  background: linear-gradient(90deg, #2A1AD8 0%, #4E26E2 25%, #7231EC 50%, #953DF5 75%, #B948FF 100%);
  padding: 9px;
  width: fit-content;
  max-width: fit-content;
  min-width: unset;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background:
    linear-gradient(0deg, #d9d9d9, #d9d9d9),
    linear-gradient(90deg,
      #2a1ad8 0%,
      #4e26e2 25%,
      #7231ec 50%,
      #953df5 75%,
      #b948ff 100%);
  background-blend-mode: overlay;
  transition: all 0.2s linear;
}

/* Start tertiary btn*/

.btn.btn-tertiary {
  min-width: 163px;
  font-weight: 400;
  padding: 10px 24px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #FFF;
  width: max-content;
  padding: 12px 24px;
  border-radius: 12px;
}

/* Start secondary btn*/

.btn.btn-secondary {
  min-width: 185px;
  padding: 10px 24px;
  border: 1px solid #fff;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  width: max-content;
  padding: 12px 24px;
  color: #fff;
  border-radius: 12px;
  box-shadow: none;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:focus {
  background: white;
  transition: all 0.2s linear;
  border: 1px solid #fff;
  color: #1B1A25;
}


.link-primary {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0%;
  color: #898B94 !important;
  text-decoration: underline;
  font-weight: 600;
  text-decoration-color: #898B94 !important;
}

.link-primary:hover {
  color: #fff;
}


/* ==== Header ===== */

header {
  border-bottom: 1px solid #3A3948;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #11101B;
}

/* 
.nav-open {
  padding-left: 300px;
} */

/* ==== Header ===== */

@media (max-width: 768px) {

  /* Reduce font size */
  body h1 {
    font-size: 25.2px;
    /* 30% reduction */
  }

  body h2,
  .h2 {
    font-size: 22.4px;
    /* 30% reduction */
  }

  body h3 {
    font-size: 16.8px;
    /* 30% reduction */
  }

  body h4 {
    font-size: 14px;
    /* 30% reduction */
  }

  body h5 {
    font-size: 14px;
    /* 30% reduction */
  }

  body h6 {
    font-size: 14px;
    /* 30% reduction */
  }

  body p {
    font-size: 14px;
    /* 30% reduction */
  }

  body a {
    font-size: 14px;
    /* 30% reduction */
  }

  /* Buttons: Reduce padding, font size, and border-radius */
  .btn {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 9.1px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn-group {
    display: flex;
    justify-content: end;
  }

  .btn.btn-primary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 9.1px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-primary:hover,
  .btn.btn-primary:active,
  .btn.btn-primary:focus {
    background: linear-gradient(90deg, #953DF5 100%, #B948FF 75%, #7231EC 50%, #4E26E2 25%, #7231EC 0%);
    transition: all 0.2s linear;
  }

  .btn.btn-tertiary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 8.4px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-secondary {
    font-size: 11.2px;
    /* 30% reduction */
    padding: 8.4px 16.8px;
    /* 30% reduction */
    border-radius: 8.4px;
    /* 30% reduction */
  }

  .btn.btn-secondary:hover,
  .btn.btn-secondary:active,
  .btn.btn-secondary:focus {
    background: white;
    transition: all 0.2s linear;
    border: 1px solid #fff;
    color: #1B1A25;
  }

  /* Link adjustments */
  .link-primary {
    font-size: 14px;
    /* 30% reduction */
  }
}


/* auth form ======================= */

form .form-group {
  margin-bottom: 24px;
}

form .form-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  color: #B2B1B9;
}

form .form-control {
  padding: 13px 16px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0%;
  border-radius: 12px;
  border: 1px solid #3A3948;
  color: #FFFFFF;
  background-color: #252431;
}

form .form-group .input-group {
  display: flex;
}

form .form-control::placeholder {
  color: #B2B1B9;
  font-weight: 400;
}

form .form-control:focus {
  border: 1px solid #fff;
  box-shadow: none;
  outline: none;
  background-color: #fff;
  color: #000000;
}

form .form-select {
  max-width: 60px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0%;
  border: 1px solid #3A3948;
  color: #FFFFFF;
  background-color: #252431;
  border-radius: 12px 0 0 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
  background-image: url('/images/arrow-down.svg');
}

form .form-select::placeholder {
  color: #B2B1B9;
}

form .form-select:focus {
  border: 1px solid #fff;
  box-shadow: none;
  outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: #3A3948;
  /* border: 1px solid green; */
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* google login  ========================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .select-new {
  border: 0 ;
} */

.select-new.MuiOutlinedInput-root fieldset {
  border: 0;
}

.error-input-field {
  margin-top: 5px;
  color: #ff4d4d;
  font-size: 15px;
}