.emptyContainer {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .emptyImage {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
  }

  .emptyTitle {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
    color: var(--Placeholder-Text);
  }
}
