.headerDialogBox {
  background: rgb(17 16 27 / 0%);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);

  .dialogHeader {
    border-bottom: 1px solid var(--Stroke-Color);
    padding: 16px;

    .dialogHeaderInner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;

      .dialogIcon {
        background-color: var(--Card-Image);
        border-radius: 8px;
        border: 0.82px solid var(--Stroke-Color);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dialogTitle {
        font-weight: var(--Bold);
        font-size: var(--SubTitle-1);
        line-height: 1.4;
        color: var(--Primary-Text-Color);
      }

      .dialogSemiTitle {
        font-weight: var(--Regular);
        font-size: var(--SubTitle-3);
        line-height: 1.4;
        color: var(--Subtext-Color);
      }
    }
  }

  .dialogBody {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .dialogFormButtonBox {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      padding: 16px;

      .formCancelBtn {
        text-transform: capitalize;
        padding: 0;
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        text-align: center;
        color: var(--Subtext-Color);
        transition: all 0.2s;

        &:hover {
          color: var(--Primary-Text-Color);
        }
      }

      .formSaveBtn {
        text-transform: capitalize;
        font-weight: var(--Medium);
        font-size: var(--SubTitle-3);
        line-height: 10px;
        min-width: 140px;
        background: var(--Red-Color);
        color: var(--Txt-On-Gradient);
        border-radius: 12px;
        padding: 15px 24px;
        transition: all 0.2s;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .headerDialogBox .dialogHeader {
    border-bottom: 1px solid var(--Stroke-Color);
    padding: 10px;
  }

  .headerDialogBox .dialogBody .dialogFormBox {
    padding: 10px;
  }

  .headerDialogBox .dialogBody .dialogFormButtonBox {
    padding: 10px;
    gap: 20px;
  }
}