.sidebarLayer {
  width: 100vw;
  height: calc(100dvh - 65px);
  position: fixed;
  top: 65px;
  left: 0;
  // background-color: var(--Background-Color);
  backdrop-filter: blur(24px);
  z-index: 99;
  display: none;

  @media (max-width: 1100px) {
    display: block;
  }
}
.closeLayer {
  left: -100%;

  @media (max-width: 1100px) {
    display: block;
  }
}
.sidebar {
  // position: fixed;
  background-color: var(--Card-Color);
  height: 100%;
  left: 0;
  width: 300px;
  top: 0;
  z-index: 999;
  flex: 0 0 auto;
  max-height: 100vh;
  overflow: hidden;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 0px black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow-y: auto;
  @media (max-width: 1100px) {
    width: 100%;
    max-width: 300px;
    max-height: calc(100dvh - 65px);
    top: 65px;
    bottom: 0;
    position: fixed;
    left: 0;
    border-right: 1px solid var(--Stroke-Color);
  }

  .main-logo {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 12px;
    border-bottom: 1px solid var(--Stroke-Color);

    @media (max-width: 1100px) {
      display: none;
      border-bottom: 0;
    }

    .close-sidebar-logo {
      display: none;
      height: 44px;
      img {
        height: 100%;
        width: 100%;
        max-height: 44px;
      }
    }
    .opensidebar-logo {
      height: 44px;
      img {
        height: 100%;
        max-height: 44px;
      }
    }
  }
}

/* width */
.sidebar-accordian::-webkit-scrollbar {
  width: 4px;
}

/* Track */

/* Handle */
.sidebar-accordian::-webkit-scrollbar-thumb {
  background: var(--Card-Image);
}

/* Handle on hover */
.sidebar-accordian::-webkit-scrollbar-thumb:hover {
  background: var(--Card-Image);
}

.sidebar-details {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 65px - 150px);
  min-height: 300px;
  flex-grow: 1;
  overflow: hidden;

  @media (max-width: 1100px) {
    padding: 16px 24px 16px 24px;
  }

  @media (max-width: 600px) {
    padding: 16px;
  }

  .sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;

    @media (max-width: 1100px) {
      display: none;
    }

    .left {
      height: 32px;
      width: 32px;
      min-width: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.82px solid var(--Stroke-Color);
      border-radius: 7px;
      background-color: var(--Card-Image);

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .right {
      height: 32px;
      width: 32px;
      min-width: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.82px solid var(--Stroke-Color);
      border-radius: 7px;
      background-color: var(--Card-Image);

      &.active {
        display: none;
      }

      @media (max-width: 1100px) {
        display: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .search {
      width: 100%;
      position: relative;
      display: none;

      @media (max-width: 1100px) {
        display: block;
      }

      .search-btn {
        background-color: var(--Card-Color);
        padding: 7px;
        border: 1px solid var(--Stroke-Color);
        min-width: unset;
        border-radius: 7px;
        aspect-ratio: 1 / 1;

        &.active {
          background: var(--Main-Gradient);
        }
      }
    }
  }
}

.sidebar-list {
  .sidebar-list-details {
    padding: 0;
    margin-bottom: 16px;

    .search {
      width: 100%;
      position: relative;
      display: block;
      margin-top: 16px;

      .search-btn {
        background-color: var(--Card-Color);
        padding: 5px;
        border: 1px solid var(--Stroke-Color);
        min-width: unset;
        border-radius: 7px;
        aspect-ratio: 1 / 1;

        &.active {
          background: var(--Main-Gradient);
        }
      }
    }

    li {
      padding: 0;
    }
    .sidebar-btn {
      background: var(--Main-Gradient);
      outline: 0.5px solid transparent;
      padding: 0 12px;
      height: 40px;
      font-weight: var(--Bold);
      font-size: var(--SubTitle-3);
      color: var(--Primary-Text-Color);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 12px;
      width: 100%;
      line-height: normal;
      transition: 0.2s ease-in-out;
      &:hover {
        outline: 0.5px solid var(--Card-Border);
      }
      span {
        vertical-align: middle;
        margin-left: 5px;

        img {
          vertical-align: middle;
        }
      }
    }
  }
}

.sidebar-accordian {
  overflow-y: auto;
  .accordian {
    margin-bottom: 12px;
    background-color: unset;
    box-shadow: unset;
    margin: 0 !important;
    margin-bottom: 12px !important;
    &:before {
      content: unset;
    }

    .customAccordionHeading {
      border: 1px solid transparent;
      border-radius: 10px;
      min-height: unset;
      height: 34px;
      padding: 8px;

      &:hover {
        border: 1px solid var(--Stroke-Color);
        background-color: none;
      }

      &.active,
      &:active {
        border: 1px solid var(--Stroke-Color);
        background-color: var(--Input-Box-Colors);
      }

      .customAccordionContent {
        margin: 0;

        .heading {
          color: var(--Primary-Text-Color);
          font-weight: var(--Regular);
          font-size: var(--SubTitle-2);
          line-height: 1.4;
          letter-spacing: 0%;
          display: flex;
          align-items: center;

          img {
            margin-right: 4px;
            height: 18px;
            margin-top: -3px;
            width: 18px;
          }
        }
      }
    }
  }
}

.bottom-content {
  padding: 0 !important;
  margin-top: 12px;
  &:empty {
    margin: 0 !important;
  }
}

.accordion-content-infinite {
  max-height: 240px;
  overflow-y: auto;
}

.accordion-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 8px;
  transition: all 0.4s;
  margin-bottom: 4px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--Stroke-Color);
    border-radius: 10px;
  }
  &.active {
    background-color: var(--Card-Image);
    border-radius: 10px;
  }

  .left {
    width: 80%;
    cursor: pointer;

    p {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      padding-right: 10px;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: auto;
      color: var(--Primary-Text-Color);
      font-weight: var(--Regular);
      font-size: var(--SubTitle-4);
      line-height: 1.4;
      letter-spacing: 0%;
      margin: 0;
    }
  }

  .right {
    width: 20%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;

    img {
      cursor: pointer;
    }

    button {
      padding: 0;
      margin-left: 7px;
      min-width: unset;
      display: flex;
      cursor: pointer;
    }
  }
}

.sidebar-btm {
  margin-top: auto;
  margin-bottom: 0;
  padding: 12px;
  min-height: 150px;
  display: flex;
  width: 100%;

  .sidebar-btm-card {
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 1px;
    background: var(--Main-Gradient);
    width: 100%;
    aspect-ratio: 2 / 1;

    .sidebar-btm-card-inner {
      padding: 20px 12px 10px 12px;
      background: var(--Card-Color);
      border-radius: 11px;
      position: relative;
      z-index: 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url(/images/log-incident.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        border-radius: 12px;
      }

      p {
        color: var(--Primary-Text-Color);
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        letter-spacing: 0%;

        &:first-child {
          margin-bottom: 20px;
          max-width: 180px;
          text-transform: capitalize;
        }
        a {
          color: var(--Primary-Text-Color);
          text-decoration: underline;
          transition: all 0.4s;
          font-size: inherit;

          &:hover {
            color: var(--Card-Border);
          }
        }
      }
    }
  }
  .close-sidebar-btm {
    display: none;
  }
}

.closesidebar {
  width: 65px !important;
  @media (max-width: 1100px) {
    width: 100%;
    max-width: 300px;
    max-height: calc(100vh - 65px);
    top: 65px;
    bottom: 0;
    position: fixed;
    left: -100%;
  }
  .main-logo {
    .close-sidebar-logo {
      display: block !important;
    }
    .opensidebar-logo {
      display: none !important;
    }
  }
}
.paddingremove {
  padding-left: 75px !important;
}
.closesidebar {
  .sidebar-details {
    height: calc(100dvh - 65px - 76px);
  }
  .main-logo {
    justify-content: flex-start;
  }
  .sidebar-top {
    justify-content: flex-start;
    margin: 0 4px;
    .right {
      display: none;
    }
  }
  .sidebar-list {
    .sidebar-list-details {
      padding: 0;
      margin-bottom: 16px;
      .sidebar-btn {
        //    transition: 0.5s ease-in-out;
        width: 40px;
        font-size: 0;
        padding: 0;
        height: 40px;
        // .btn-text {
        //   display: none;
        // }
        span {
          margin: 0;
        }
      }

      &:last-child {
        display: none;
      }
    }
  }
  .sidebar-accordian {
    .accordian {
      .customAccordionHeading {
        background-color: unset;
        width: fit-content;
        display: block;
        &:hover {
          border: 1px solid var(--Stroke-Color);
          background-color: none;
        }

        &.active,
        &:active {
          border: 1px solid var(--Stroke-Color);
          background-color: var(--Input-Box-Colors);
        }
        .customAccordionContent {
          .heading {
            font-size: 0;
            margin: 0 auto;
            img {
              margin-right: 0;
            }
          }
        }
        .img-none {
          display: none;
        }
      }
    }
  }
  .accordion-content {
    display: none;
  }
  .sidebar-btm {
    margin-bottom: 0;
    padding: 16px 12px 16px 13px;
    min-height: 76px;
    .sidebar-btm-card {
      display: none;
    }
    .close-sidebar-btm {
      display: flex;
    }
  }
  .bottom-content {
    display: none;
  }
}
.sidebar-dropdown {
  box-shadow: unset !important;
  --Paper-shadow: unset !important;
}
.main-content {
  color: #fff;
}

.mainDropdown {
  ul {
    // border-radius: 12px;
    padding: 0;
    background-color: var(--Input-Box-Colors);
    color: var(--Primary-Text-Color);
    padding: 4px;
    box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    min-width: 160px;

    &:hover {
      background-color: var(--Card-Image);
    }

    p {
      font-weight: var(--Medium);
      font-size: var(--SubTitle-4);
      line-height: 1.4;
      color: var(--Primary-Text-Color);
      width: 100%;
    }
  }
  .menuDropdownDelete {
    p {
      color: #e72240;
    }
  }
}

@media (max-width: 1366px) {
  .sidebar-accordian {
    .accordian {
      .customAccordionHeading {
        .customAccordionContent {
          .heading {
            font-size: 15px;
            img {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.customAccordionHeading {
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  min-height: unset;
  height: 34px;
  padding: 8px !important;
  width: 100%;
  min-width: unset !important;
  margin-bottom: 12px !important;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:hover {
    border: 1px solid var(--Stroke-Color) !important;
    background: none;
  }

  &.active,
  &:active {
    border: 1px solid var(--Stroke-Color);
    background-color: var(--Input-Box-Colors);
  }

  .MuiTouchRipple-root {
    display: none !important;
  }

  .heading {
    color: var(--Primary-Text-Color);
    font-weight: var(--Regular);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: capitalize;

    img {
      margin-right: 4px;
      height: 18px;
      margin-top: -3px;
      width: 18px;
    }
  }
  .heading-side-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.closesidebar {
  .customAccordionHeading {
    background-color: unset;
    width: fit-content;
    display: block;
    &:hover {
      border: 1px solid var(--Stroke-Color);
      background-color: none;
    }

    &.active,
    &:active {
      border: 1px solid var(--Stroke-Color);
      background-color: var(--Input-Box-Colors);
    }
    .heading {
      font-size: 0;
      margin: 0 auto;
      img {
        margin-right: 0;
      }
    }
    .img-none {
      display: none;
    }
  }
}
.date-picker-box {
  background-color: var(--Card-Color);
  border-radius: 12px;
  border: 0px solid transparent;
  text-align: end;
  margin-top: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;

  &.active {
    height: 195px;
    margin-top: 16px;
    opacity: 1;
    border: 1px solid var(--Stroke-Color);
  }

  .date-picker-box-inner {
    padding: 12px;
  }
}

.date-picker-heading {
  width: 100%;
  text-align: start;
  font-weight: var(--Bold) !important;
  font-size: var(--SubTitle-3) !important;
  color: var(--Primary-Text-Color);
  line-height: 10px !important;
  margin-bottom: 16px !important;
}

.apply-btn {
  background: var(--Main-Gradient);
  color: var(--Txt-On-Gradient) !important;
  border: none !important;
  outline: 0.5px solid transparent !important;
  font-weight: var(--Bold) !important;
  width: max-content;
  padding: 12px 40px !important;
  border-radius: 12px !important;
  flex: initial;
  border-radius: 12px;
  font-size: var(--SubTitle-3) !important;
  line-height: 10px !important;
  text-align: center;
  text-transform: capitalize !important;

  &:hover,
  &:active {
    outline: 0.5px solid var(--Card-Border) !important;
    background-blend-mode: overlay !important;
    transition: all 0.2s linear !important;
  }

  &:disabled {
    background: var(--Input-Box-Colors) !important;
    color: var(--Stroke-Color) !important;
    cursor: not-allowed !important;
    border: 1px solid var(--Stroke-Color) !important;
  }
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Stroke-Color);
  border-radius: 10px;
  padding: 0;
}

.filter-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--Stroke-Color);
  padding: 6px 12px;
  margin-left: 11px;
}

.date-chip-box {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;

  &.active {
    height: 30px;
    margin-top: 16px;
  }

  .date-chip-inner {
    padding: 4px 8px;
    border-radius: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Input-Box-Colors);
    border: 1px solid var(--Stroke-Color);

    .date-chip-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        color: #898b94;
        margin-right: 8px;

        &:last-child {
          color: var(--Primary-Text-Color);
        }
      }
    }

    .chip-btn {
      min-width: unset;
      padding: 4px;
      border: 1px solid var(--Stroke-Color);
      background: var(--Card-Color);
    }
  }
}
