.headerDialogBox {
  .dialogHeader {
    padding: 48px 24px 40px 24px;
    text-align: center;

    @media (max-width: 500px) {
      padding: 48px 16px 40px 16px;
    }

    .dialogTimer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      @media (max-width: 500px) {
        gap: 6px;
      }

      .dialogSetTime {
        .dialogSetTimeInner {
          background: linear-gradient(
            90deg,
            rgba(42, 26, 216, 0.4) 0%,
            rgba(78, 38, 226, 0.4) 25%,
            rgba(114, 49, 236, 0.4) 50%,
            rgba(149, 61, 245, 0.4) 75%,
            rgba(185, 72, 255, 0.4) 100%
          );
          border-radius: 16px;
          padding: 1.2px;

          .dialogSetTimeLog {
            background: var(--Background-Color);
            border-radius: 16px;
            aspect-ratio: 1 / 1;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 500px) {
              width: 60px;
            }

            .dialogSetText {
              margin: 0;
              font-size: var(--Heading-1);
              font-weight: var(--Medium);
              color: var(--Primary-Text-Color);

              @media (max-width: 500px) {
                font-size: var(--Heading-3);
              }
            }
          }
        }

        .dialogSetTextTime {
          color: var(--Subtext-Color);
          font-size: var(--SubTitle-3);
          font-weight: var(--Lighter);
          margin-top: 6px;
        }
      }
      .dialogSetTextDot {
        margin: 0;
        margin-bottom: 20px;
        color: var(--Subtext-Color);
        font-size: var(--Heading-2);
        font-weight: var(--Medium);

        @media (max-width: 500px) {
          font-size: var(--Heading-4);
        }
      }
    }

    h2 {
      font-size: var(--Heading-2);
      font-weight: var(--Bold);
      color: var(--Primary-Text-Color);
      margin-top: 40px;

      @media (max-width: 500px) {
        margin-top: 20px;
      }
    }
    p {
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      font-weight: var(--Lighter);
      color: var(--Subtext-Color);
      max-width: 360px;
      margin: 0 auto;
      margin-top: 8px;
    }
  }

  .dialogFormButtonBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 32px;

    @media (max-width: 380px) {
      flex-direction: column;
    }

    .formCancelBtn {
      text-transform: capitalize;
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      line-height: 10px;
      letter-spacing: 0px;
      min-width: 140px;
      border: 1px solid var(--Stroke-Color);
      color: var(--Subtext-Color);
      border-radius: 12px;
      padding: 16px 34px;
      transition: all 0.2s;

      @media (max-width: 380px) {
        width: 100%;
      }

      &:hover {
        color: var(--Txt-On-Gradient);
      }
    }

    .formContinueBtn {
      text-transform: capitalize;
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      line-height: 10px;
      letter-spacing: 0px;
      min-width: 140px;
      background: var(--Main-Gradient);
      color: var(--Txt-On-Gradient);
      outline: 1px solid transparent;
      border-radius: 12px;
      padding: 16px 34px;
      transition: all 0.2s;

      @media (max-width: 380px) {
        width: 100%;
      }

      &:hover {
        outline: 1px solid var(--Card-Border);
      }
    }
  }
}

// Time

.timeLog {
  background: var(--Main-Gradient);
  padding: 1px !important;
  border-radius: 500px !important;
  flex: 0 0 auto;

  .timeLogInner {
    background-color: var(--Background-Color);
    border-radius: 500px;
    padding: 8px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .timeLogImage {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .timeLogTime {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      p {
        color: var(--Primary-Text-Color);
        font-size: var(--SubTitle-3);
        font-weight: var(--Lighter);
      }

      span {
        color: var(--Subtext-Color);
        font-size: var(--SubTitle-3);
        font-weight: var(--Lighter);
      }
    }
  }
}

// Time
