.headerDialogBox {
  background: rgb(17 16 27 / 0%);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

.dialogHeader {
  border-bottom: 1px solid var(--Stroke-Color);
  padding: 16px 24px;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.dialogHeaderInner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0 !important;
  max-width: calc(100% - 30px);
}

.dialogIcon {
  background-color: var(--Card-Image);
  border-radius: 8px;
  border: 1px solid var(--Stroke-Color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDialogBox {
  .dialogTitle {
    font-weight: var(--Bold);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    color: var(--Txt-On-Gradient);
    word-break: break-word;
  }
}

.dialogHeaderInner .dialogSemiTitle {
  font-weight: var(--Regular);
  font-size: var(--SubTitle-3);
  line-height: 1.4;
  color: var(--Subtext-Color);
}

.headerDialogBox {
  .dialogFormGroupMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 24px;

    @media (max-width: 450px) {
      flex-wrap: wrap;
      gap: 24px;
    }

    .dialogFormGroup {
      width: 50%;
      max-width: calc(50% - 8px);
      flex: 0 0 auto;
      margin-top: 0;

      @media (max-width: 450px) {
        width: 100%;
        max-width: 100%;
      }

      svg {
        fill: white;
      }
    }
  }

  .dialogFormGroup {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  .dialogFormLabel {
    font-size: var(--SubTitle-2);
    font-weight: var(--Regular);
    color: var(--Subtext-Color);
    line-height: 1.4;
    display: block;
    margin-bottom: 8px;
  }
}

.dialogFormContentDetailsBox {
  max-height: calc(90dvh - 200px);
  overflow-y: auto;
  padding: 24px !important;

  .logTitle {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-1);
    color: var(--Primary-Text-Color);
  }

  .logListBody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .logListBodyTag {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      padding: 2px 8px;
      background: var(--Stroke-Color);
      border-radius: 500px;
      max-width: 100%;

      .logListBodyTagTitle {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-4);
        color: var(--Subtext-Color);
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }

  .logListFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    .logListFooterTitle {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }

    .logListFooterDetails {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }
  }
}

.logDetailsList {
  border-top: 1px solid var(--Stroke-Color);
  padding-top: 12px;
  margin-top: 16px;

  .logDetailsListInner {
    margin-top: 14px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0px;
    }

    &:first-child {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .logDetailsListTitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-3);
    color: var(--Subtext-Color);
    margin-bottom: 10px;
  }

  .logDetailsListDetails {
    * {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-2);
      color: var(--Primary-Text-Color);

      @media (max-width: 600px) {
        font-size: var(--SubTitle-3);
      }
    }

    .logDetailsListDetailsInner {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-2);
      color: var(--Primary-Text-Color);
      margin-top: 12px;

      @media (max-width: 600px) {
        font-size: var(--SubTitle-3);
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .logDetailsList {
    .logDetailsListInner {
      display: block;
    }

    .logDetailsListDetails {
      .logDetailsListDetailsInner {
        text-align: left;
      }
    }
  }
}