// .docsPageMain {
//   height: calc(100dvh - 65px);
//   overflow-y: auto;
// }

.docsMain {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: calc(100dvh - 65px);
  display: flex;
  flex-direction: column;
}

.docsListing {
  position: relative;
  height: calc(100dvh - 65px);
  display: flex;
  flex-direction: column;
  // height: unset;
  width: 100%;
  overflow-y: hidden;

  .searchBoard {
    width: 100%;
    padding: 24px 33px 24px 33px;
    background-color: var(--Background-Color);
    position: sticky;
    top: 0;
    z-index: 3;

    @media (max-width: 1440px) {
      padding: 12px 24px 12px 24px;
    }

    @media (max-width: 1200px) {
      padding: 12px 16px 12px 16px;
    }

    .docBoard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      width: 100%;

      @media (max-width: 550px) {
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .search-btn {
        background-color: var(--Card-Color);
        padding: 6px;
        border: 1px solid var(--Stroke-Color);
        min-width: unset;
        border-radius: 10px;
        aspect-ratio: 1 / 1;

        @media (max-width: 550px) {
          width: calc(100%);
        }

        &.active {
          background: var(--Main-Gradient);
        }
      }

      .searchInput {
        border: 1px solid var(--Stroke-Color);
        border-radius: 10px;
        padding: 4px 4px 4px 12px;
        width: 100%;
        color: var(--Subtext-Color);
        background: var(--Background-Color);

        &::after {
          content: none !important;
        }

        &::before {
          content: none !important;
        }

        input {
          color: var(--Primary-Text-Color);
          padding: 0;
          font-size: var(--SubTitle-3);
          font-weight: var(--Lighter);
        }
      }

      .filter-btn-box {
        @media (max-width: 550px) {
          order: 3;
        }
      }

      .limitation {
        background: var(--Stroke-Color);
        color: var(--Subtext-Color);
        cursor: no-drop;

        &:hover {
          outline: none;
        }

        img {
          filter: brightness(0.5);
        }
      }

      button {
        @media (max-width: 550px) {
          width: calc(100% - 34px - 16px);
          order: 2;
        }
      }
    }
  }

  .searchIcon {
    cursor: pointer;

    .search {
      // background-image: url('/images/search.svg');
      width: 28px;
      height: 28px;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.72px solid var(--Stroke-Color);
      background-color: var(--Card-Color);
      padding: 6px;
      border-radius: 8px;
    }
  }

  .allSelect {
    position: sticky;
    top: 0;
    z-index: 2;

    label {
      cursor: pointer;
      margin-left: 0;
      margin-right: 0;

      input {
        width: 16px;
        height: 16px;
        cursor: pointer;
        accent-color: var(--Main-Gradient);
      }

      span {
        font-weight: var(--Regular);
        font-size: var(--SubTitle-3);
        line-height: 1.4;
        padding: 0;

        svg {
          border: none;
        }
      }
    }
  }

  .docBoxMain {
    width: 100%;
    padding: 0 33px 0 33px;
    // padding: 12px 33px 24px 33px;
    // height: calc(100% - 140px - 91px);
    overflow-y: auto;
    flex-grow: 1;
    flex: 1;

    @media (max-width: 1440px) {
      height: calc(100% - 74px - 91px + 12px);
      padding: 12px 24px 24px 24px;
    }

    @media (max-width: 1200px) {
      padding: 12px 16px 24px 16px;
    }

    @media (max-width: 800px) {
      height: calc(100% - 74px - 91px - 68px);
    }

    .noRecordsFound {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      color: var(--Subtext-Color);
      font-size: var(--SubTitle-2);
      min-height: calc(100dvh - 65px - 74px - 91px - 36px);
    }

    .docGridBox {
      background-color: var(--Card-Color);
      padding: 8px;
      border-radius: 10px;
      border: 1px solid transparent;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: unset;
      max-width: 100%;

      &.active {
        border: 1px solid var(--Card-Border);
      }

      &:hover {
        border: 1px solid var(--Stroke-Color);
      }

      &:active {
        border: 1px solid var(--Card-Border);
      }

      .docBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        .pdfImg {
          width: 34px;
          height: 34px;
          background-color: var(--Card-Color);
          border-radius: 4px;
          padding: 7px;
          flex: 0 0 auto;
          border: 1px solid var(--Stroke-Color);
          cursor: pointer;
        }

        .docTitle {
          font-weight: var(--Regular);
          font-size: var(--SubTitle-2);
          line-height: 19px;
          color: var(--Primary-Text-Color);
          width: calc(100% - 70px);
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          cursor: pointer;

          span {
            display: block;
            font-weight: var(--Lighter);
            font-size: var(--SubTitle-5);
            line-height: 1.4;
            color: var(--Subtext-Color);
            margin-top: 2px;
          }
        }

        .moreImg {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      .docDateBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-top: 8px;

        .docTagBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          max-width: calc(100% - 80px);

          .docTag {
            font-weight: var(--Lighter);
            font-size: var(--SubTitle-5);
            line-height: 16px;
            color: var(--Subtext-Color);
            padding: 4px 8px;
            border: 0.5px solid var(--Stroke-Color);
            border-radius: 500px;
            background-color: var(--Card-Image);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .docTagCount {
            font-weight: var(--Regular);
            font-size: var(--SubTitle-5);
            line-height: 16px;
            color: var(--Subtext-Color);
          }
        }

        p {
          font-weight: var(--Lighter);
          font-size: var(--SubTitle-5);
          line-height: 1.4;
          text-align: right;
          text-transform: capitalize;
          color: var(--Subtext-Color);
          min-width: fit-content;
        }
      }
    }
  }
}

.categories {
  position: relative;
  min-width: 300px;
  width: 300px;
  flex: 0 0 auto;
  border-right: 1px solid var(--Stroke-Color);
  padding-bottom: 24px;
  height: calc(100dvh - 65px);
  overflow-y: auto;
  // animation: slideCDown 0.6s ease-out forwards;

  // @keyframes slideCDown {
  //   0% {
  //     width: 0;
  //     min-width: 0;
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  //   100% {
  //     transform: translate3d(0, 0, 0);
  //     width: 300px;
  //     min-width: 300px;
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }

  @media (max-width: 1400px) {
    min-width: 250px;
    width: 250px;
  }

  @media (max-width: 992px) {
    min-width: 230px;
    width: 230px;
  }

  .categoryBox {
    padding: 21px 16px 16px 16px;
    background-color: var(--Background-Color);
    position: sticky;
    top: 0;
    z-index: 2;

    .categoriesTitle {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      color: var(--Primary-Text-Color);
    }
  }

  .docsFolder {
    background-color: var(--Background-Color);
    padding: 8px;
    border-radius: 10px;
    margin: 0 16px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: var(--Input-Box-Colors);
    }

    &:hover {
      // background-color: var(--Card-Image);
      border: 1px solid var(--Stroke-Color);
    }

    .folderBox {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 4px;

      .arrowRightImg {
        width: 16px;
        flex: 0 0 auto;
      }

      .folderImg {
        width: 18px;
        flex: 0 0 auto;
      }

      .folderTitleBox {
        width: 100%;

        .folderTitle {
          font-weight: var(--Regular);
          font-size: var(--SubTitle-3);
          line-height: 1.4;
          color: var(--Primary-Text-Color);
        }

        .folderNo {
          font-weight: var(--Regular);
          font-size: var(--SubTitle-5);
          line-height: 1.4;
          color: var(--Subtext-Color);
          margin-top: 2px;
        }
      }
    }
  }

  .infiniteLoader {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}

.docsBoardHide {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.docsBoard {
  min-width: 500px;
  max-width: 100%;
  width: 500px;
  border-left: 1px solid var(--Stroke-Color);
  position: relative;
  height: calc(100dvh - 65px);
  overflow-y: auto;
  transition: all 0.4s;
  animation: slideDown 0.4s ease-out forwards;

  @keyframes slideDown {
    0% {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  // * {
  //   animation: slideDown 0.4s ease-out forwards;

  //   @keyframes slideDown {
  //     0% {
  //       transform: translate3d(100%, 0, 0);
  //       opacity: 0;
  //       visibility: hidden;
  //     }
  //     100% {
  //       transform: translate3d(0, 0, 0);
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }
  // }

  @media (max-width: 1400px) {
    min-width: 400px;
    max-width: 100%;
  }

  @media (max-width: 1024px) {
    min-width: 320px;
    max-width: 100%;
  }

  @media (max-width: 800px) {
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }

  .docsBoardHeader {
    background-color: var(--Card-Color);
    padding: 12px 24px;
    border-bottom: 1px solid var(--Stroke-Color);
    position: sticky;
    top: 0;
    z-index: 2;

    @media (max-width: 1200px) {
      padding: 12px 16px;
    }

    @media (max-width: 800px) {
      padding: 8px 16px;
    }

    .docsBoardHeaderInner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .closeButton {
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 0;
        width: fit-content;
        min-width: unset;
      }
    }

    .docsInner {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      gap: 2px;
      margin-right: 10px;
      width: 100%;
      max-width: calc(100% - 70px);

      .docsTitle {
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        color: var(--Primary-Text-Color);
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-width: 100%;
      }

      .docsDate {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-5);
        line-height: 1.4;
        color: var(--Subtext-Color);
        flex: 0 0 auto;
        display: block;
      }
    }

    .docsInnerTag {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: stretch;
      gap: 8px;
      margin-top: 8px;

      @media (max-width: 799px) {
        padding-left: 46px;
      }

      span {
        background: var(--Card-Image);
        border: 0.5px solid var(--Stroke-Color);
        padding: 4px 8px;
        border-radius: 500px;
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-5);
        color: var(--Subtext-Color);
        line-height: var(--SubTitle-5);
        text-transform: capitalize;
      }
    }
  }

  .docsBoardBody {
    padding: 16px 24px 24px 24px;

    @media (max-width: 1200px) {
      padding: 16px 16px 24px 16px;
    }

    * {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-2);
      line-height: 1.4;

      @media (max-width: 1200px) {
        font-size: var(--SubTitle-3);
      }
    }

    p {
      font-size: var(--SubTitle-2);
      font-weight: var(--Lighter);
      color: var(--Primary-Text-Color);

      @media (max-width: 1200px) {
        font-size: var(--SubTitle-3);
      }
    }

    b {
      font-weight: var(--Bold);
      font-size: var(--SubTitle-2);
      color: var(--Primary-Text-Color);

      @media (max-width: 1200px) {
        font-size: var(--SubTitle-3);
      }
    }

    // h1 > *,
    // h1 {
    //   font-size: var(--Heading-1);
    //   font-weight: var(--Bold);
    // }
    // h2 > *,
    // h2 {
    //   font-size: var(--Heading-2);
    // }
    // h3 > *,
    // h3 {
    //   font-size: var(--Heading-3);
    // }
    // h4 > *,
    // h4 {
    //   font-size: var(--Heading-4);
    // }
    // h5 > *,
    // h5 {
    //   font-size: var(--Heading-5);
    // }
    // h6 > *,
    // h6 {
    //   font-size: var(--Heading-6);
    // }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: var(--Bold);
      color: var(--Primary-Text-Color);
      font-size: var(--SubTitle-1);

      @media (max-width: 1200px) {
        font-size: var(--SubTitle-2);
      }

      b {
        font-weight: var(--Bold);
        color: var(--Primary-Text-Color);
        font-size: var(--SubTitle-1);

        @media (max-width: 1200px) {
          font-size: var(--SubTitle-2);
        }
      }
    }

    ul {
      padding-left: 20px;

      li {
        margin-bottom: 10px;
        line-height: 1.4;
      }
    }

    .dialogFormButtonBox {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;
      padding: 24px 0px 24px 24px;

      .formCancelBtn {
        text-transform: capitalize;
        padding: 0;
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        text-align: center;
        color: var(--Subtext-Color);
        transition: all 0.2s;

        &:hover {
          color: var(--Primary-Text-Color);
        }
      }

      .formSaveBtn {
        text-transform: capitalize;
        font-weight: var(--Medium);
        font-size: var(--SubTitle-3);
        line-height: 10px;
        min-width: 140px;
        background: var(--Main-Gradient);

        color: var(--Txt-On-Gradient);
        border-radius: 12px;
        padding: 15px 24px;
        transition: all 0.2s;

        &:hover {
          background: var(--Main-Gradient);
          background-blend-mode: overlay;
        }

        &.formDeletBtn {
          background: var(--Red-Color);

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .formBackBtn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        padding: 0;
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        text-align: center;
        color: var(--Subtext-Color);
        transition: all 0.2s;

        &:hover {
          color: var(--Primary-Text-Color);
        }
      }

      &.dialogDeletButtonBox {
        justify-content: space-between;
      }
    }

    .docsBodyTitle {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-3);
      line-height: 1.4;
      color: var(--Subtext-Color);
    }

    .docsBodyText {
      padding: 12px 11px;
      background-color: var(--Card-Color);
      border-radius: 12px;
      margin-top: 12px;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      // p {
      //   font-weight: var(--Regular);
      //   font-size: var(--SubTitle-2);
      //   line-height: 1.4;
      //   color: var(--Primary-Text-Color);
      // }

      div {
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        color: var(--Primary-Text-Color);
      }

      * {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-3);
        line-height: 1.4;
      }

      p {
        font-size: var(--SubTitle-3);
        font-weight: var(--Lighter);
        color: var(--Primary-Text-Color);
      }

      b {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-3);
        color: var(--Primary-Text-Color);
      }

      // h1 > *,
      // h1 {
      //   font-size: var(--Heading-1);
      //   font-weight: var(--Bold);
      // }
      // h2 > *,
      // h2 {
      //   font-size: var(--Heading-2);
      // }
      // h3 > *,
      // h3 {
      //   font-size: var(--Heading-3);
      // }
      // h4 > *,
      // h4 {
      //   font-size: var(--Heading-4);
      // }
      // h5 > *,
      // h5 {
      //   font-size: var(--Heading-5);
      // }
      // h6 > *,
      // h6 {
      //   font-size: var(--Heading-6);
      // }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: var(--Medium);
        color: var(--Primary-Text-Color);
        font-size: var(--SubTitle-3);

        b {
          font-weight: var(--Medium);
          color: var(--Primary-Text-Color);
          font-size: var(--SubTitle-3);
        }
      }
    }
  }

  .docsButtonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: var(--Card-Color);
    border-radius: 12px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 56px;

    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }

    @media (max-width: 425px) {
      flex-wrap: wrap;
    }

    span.docsDas {
      border: 1px solid var(--Primary-Text-Color);
      height: 15px;
    }

    .docsButton {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      color: var(--Primary-Text-Color);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      padding: 12px 8px;

      @media (max-width: 768px) {
        padding: 12px;
      }

      @media (max-width: 450px) {
        padding: 12px 5px;
        width: fit-content;
      }
    }
  }
}

@media (max-width: 500px) {
  .docsBoardBody {
    .dialogFormButtonBox {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

.categoriesDrawer {
  .categories {
    width: 100%;
    max-width: 100%;
  }

  .docsFolder {
    background-color: transparent;
  }

  .categoryBox {
    background-color: var(--Card-Color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 16px;
  }

  .categoryBox {
    .categoriesTitle {
      font-size: var(--Heading-3);
    }
  }

  .docsFolder {
    .folderBox {
      gap: 0;

      .folderImg {
        margin-right: 10px;
      }

      .folderTitleBox {
        .folderTitle {
          font-size: var(--SubTitle-1);
        }

        .folderNo {
          font-size: var(--SubTitle-5);
        }
      }
    }
  }
}

.backButton {
  background-color: var(--Input-Box-Colors) !important;
  padding: 8px !important;
  border: 1px solid var(--Stroke-Color) !important;
  min-width: fit-content !important;
  margin: 0 !important;
  margin-right: 12px !important;
}

.docsListing {
  .categoryBox {
    padding: 8px 16px;
    background-color: var(--Card-Color);
    border-bottom: 1px solid var(--Stroke-Color);
    position: sticky;
    top: 0;
    z-index: 2;

    .categoryBoxInner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .categoriesSemiTitle {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-5);
      line-height: 140%;
      color: var(--Subtext-Color);
      padding-left: 46px;
    }
  }

  .categoryBox .categoriesTitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-1);
    line-height: 1.4;
    color: var(--Primary-Text-Color);
  }
}

.mainDropdown {
  ul {
    border-radius: 12px;
    padding: 0;
    background-color: var(--Input-Box-Colors);
    color: var(--Primary-Text-Color);
    padding: 4px;
    box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    min-width: 160px;

    &:hover {
      background-color: var(--Card-Image);
    }

    p {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-4);
      line-height: 1.4;
      color: var(--Primary-Text-Color);
      width: 100%;
    }
  }

  .menuDropdownDelete {
    p {
      color: var(--Red-Color);
    }
  }
}

.docBoxMain {
  .docBoxInner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 16px;
    overflow: hidden;
    max-width: 100%;

    .docGridBox {
      width: calc(33.33% - 10.66px);
      max-width: 100%;

      @media (max-width: 1200px) {
        width: calc(50% - 8px);
      }

      @media (max-width: 550px) {
        width: calc(100%);
      }
    }
  }
}

.docBoxMainOpen {
  .docBoxInner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    overflow: hidden;
    max-width: 100%;

    .docGridBox {
      width: calc(50% - 8px);
      max-width: 100%;

      @media (max-width: 1300px) {
        width: calc(100%);
      }

      @media (max-width: 550px) {
        width: calc(100%);
      }
    }
  }
}

.date-chip-box {
  overflow: hidden;
  transition: all 0.4s;
  max-width: 100%;
  max-width: 100%;
  /* Prevents overflow */
  overflow-x: hidden;
  /* Optional: hides horizontal scroll if needed */
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: 500px) {
    flex-wrap: wrap;
    gap: 0;
  }

  .date-chip-inner {
    flex: 0 0 auto;
    padding: 4px 8px;
    border-radius: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Input-Box-Colors);
    border: 1px solid var(--Stroke-Color);
    display: flex !important;
    width: fit-content !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    .date-chip-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        font-size: var(--SubTitle-5);
        font-weight: var(--Lighter);
        line-height: 17px;
        color: var(--Subtext-Color);
        margin-right: 8px;

        &:last-child {
          color: var(--Primary-Text-Color);
        }
      }
    }

    .chip-btn {
      min-width: unset;
      padding: 4px;
      border: 1px solid var(--Stroke-Color);
      background: var(--Card-Color);

      @media (max-width: 500px) {
        width: fit-content;
      }
    }
  }
}

// Slider

.sliderWrapper {
  position: relative;
  padding: 0 20px;
}

.slide {
  background-color: var(--Primary-Text-Color);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 0 5px;
}

.arrow {
  position: absolute;
  top: calc(50% + 8px);
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}

.sliderWrapper,
.slick-slider {
  min-width: calc(100% - 270px);
  width: auto;
}

.slick-initialized,
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-list {
  padding: 0 20px;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.slick-track {
  margin-top: 16px;
}

// Slider