.chatHeading {
  width: 100%;
  padding: 0 30px;

  .gridBox {
    margin-top: 28px;

    .gridBoxInner {
      .chatBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        p {
          color: var(--Primary-Text-Color);
          font-weight: var(--Regular);
          font-size: var(--SubTitle-2);
          line-height: 140%;
        }
      }

      .gridBoxButton {
        margin-top: 23px;
      }
    }
  }
}

.chatHeader {
  text-align: center;

  .chatHeaderImage {
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .chatTitle {
    color: var(--Primary-Text-Color);
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: var(--Heading-1);
    line-height: 140%;
  }

  .chatSubtitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-3);
    line-height: 140%;
    text-align: center;
    color: var(--Subtext-Color);
    margin: 0 auto;
  }
}

.chatGridBox {
  border: 1px solid var(--Stroke-Color);
  background-color: var(--Card-Color);
  width: 100%;
  border-radius: 12px;
  padding: 24px 16px;
  height: 100%;
}

// LogIncident class

.chatLogIncident {
  position: relative;
  border: transparent;
  background-color: transparent;
  padding: 1px;
  overflow: hidden;

  .chatBox {
    background-color: var(--Card-Color);
    padding: 24px 16px;
    border-radius: 14px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      top: 0;
      right: 0;
      z-index: -1;
      background-image: url('/images/log-incident.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      border-radius: 12px;
    }
  }

  p {
    max-width: calc(100% - 100px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--Main-Gradient);
    z-index: -1;
    border-radius: 14px;
  }
}

.chatBoarbMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  min-height: calc(100vh - 65px);
  padding: 100px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.fileInput {
  padding: 9px 16px;
  background-color: var(--Card-Color);
  width: 100%;
  border-radius: 10px;
  color: var(--Subtext-Color);

  &::after {
    content: none !important;
  }

  input {
    color: var(--Primary-Text-Color);
  }
}

.chatBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border: 1px solid var(--Stroke-Color);
  border-radius: 12px;
  padding: 16px;
  margin-top: 24px;
}

.fileIcon {
  cursor: pointer;
  // border: 0.72px solid var(--Stroke-Color);

  .clip {
    background-image: url('/images/paperclip.svg');
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 900px) {
  .chatGridBox {
    max-width: 500px;
    margin: 0 auto;
  }

  .chatHeading {
    .gridBox {
      .gridBoxInner {
        // .chatBox {
        //   align-items: center;
        //   flex-direction: row;
        // }

        .gridBoxButton {
          // margin-top: 0;
          flex: 0 0 auto;
        }
      }
    }
  }

  .chatBoarbMain {
    max-width: 100%;
  }

  .chatBoarbMain {
    padding: 50px 0;
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .chatGridBox {
    padding: 18px 10px;
  }
  .chatLogIncident {
    padding: 1px;
    .chatBox {
      padding: 18px 10px;
    }
  }
  .chatHeading {
    .gridBox {
      margin-top: 20px;
      .gridBoxInner {
        .chatBox {
        }

        .gridBoxButton {
          margin-top: 13px;
          font-size: var(--SubTitle-3);
        }
      }
    }
  }
  .chatHeader {
    .chatTitle {
      font-size: var(--Heading-2);
      margin-bottom: 8px;
    }
  }
  .chatBoard {
    padding: 16px 12px;
    margin-top: 32px;
  }
}
