.errorContainer {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;

  @media (max-width: 550px) {
    justify-content: center;
  }

  .errorTitle {
    font-weight: var(--Lighter);
    font-size: var(--Heading-3);
    line-height: 1.4;
    text-align: center;
    color: var(--Txt-On-Gradient);

    @media (max-width: 550px) {
      font-size: var(--Heading-4);
    }
  }

  .errorImage {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    margin-top: 56px;
    object-fit: contain;

    @media (max-width: 550px) {
      margin-top: 10px;
      max-width: 90%;
    }
  }

  button {
    margin-top: 50px;

    @media (max-width: 550px) {
      margin-top: 14px;
    }
  }
}
