.headerDialogBox {
  background-color: var(--Card-Color);

  .dialogHeader {
    border-bottom: 1px solid var(--Stroke-Color);
    padding: 15px 24px;

    h2 {
      padding: 0;
      font-weight: var(--Bold);
      font-size: var(--SubTitle-1);
      line-height: 1.4;
      color: var(--Txt-On-Gradient);
    }
  }

  .dialogBody {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .dialogSidebar {
      border-right: 1px solid var(--Stroke-Color);
      padding: 12px 16px;
      width: 250px;
      flex: 0 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      gap: 50px;
      position: sticky;
      top: 0;
      z-index: 1;
      overflow-y: auto;

      .dialogSidebarHeader {
        width: 100%;

        .dialogSemiTitle {
          font-weight: var(--Lighter);
          font-size: 10px;
          line-height: 1.4;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: var(--Subtext-Color);
        }

        .dialogSidebarContent {
          margin-top: 8px;

          button {
            width: 100%;
            padding: 8px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 4px;
            margin-top: 8px;
            text-transform: capitalize;

            &:first-child {
              margin-top: 0;
            }

            &.active,
            &:hover {
              background-color: var(--Card-Image);
            }

            img {
              flex: 0 0 auto;
              margin-right: 5.5px;
            }

            p {
              text-align: start;
              width: 100%;
              font-weight: var(--Medium);
              font-size: var(--SubTitle-4);
              line-height: 1.4;
              color: var(--Primary-Text-Color);
              margin-right: 4px;
            }
          }
        }
      }
    }

    .dialogFormBox {
      width: 100%;
      padding: 30px 24px 24px 24px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 80px;
      flex-direction: column;
      overflow-y: auto;

      .dialogFormContent {
        width: 100%;

        .dialogFormInner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px 16px;

          &.dialogFormOpt {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 24px;
            margin-top: 24px;
          }

          .dialogFormGroup {
            .formLabel {
              font-weight: var(--Regular);
              font-size: var(--SubTitle-3);
              line-height: 1.4;
              color: var(--Subtext-Color);
            }
          }

          .dialogFormFull {
            grid-column: span 2;
            margin-top: 24px;
          }
        }

        .accountDeletTitle {
          font-weight: var(--Bold);
          font-size: var(--SubTitle-1);
          line-height: 1.4;
          color: #e72240;
        }

        .accountFormDetails {
          font-weight: var(--Lighter);
          font-size: var(--SubTitle-3);
          line-height: 22.65px;
          color: var(--Primary-Text-Color);
          margin-top: 12px;
        }
      }
    }

    .dialogInnerHide {
      display: none;
    }

    .dialogFormButtonBox {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 32px;

      .formCancelBtn {
        text-transform: capitalize;
        padding: 0;
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        line-height: 1.4;
        text-align: center;
        color: var(--Subtext-Color);
        transition: all 0.2s;

        &:hover {
          color: var(--Primary-Text-Color);
        }
      }

      .formSaveBtn {
        text-transform: capitalize;
        font-weight: var(--Medium);
        font-size: var(--SubTitle-3);
        line-height: 10px;
        letter-spacing: 0px;
        min-width: 140px;
        background: var(--Main-Gradient);

        color: var(--Txt-On-Gradient);
        border-radius: 12px;
        padding: 15px 24px;
        transition: all 0.2s;

        &:hover {
          background: var(--Main-Gradient);
          background-blend-mode: overlay;
        }

        &.formDeletBtn {
          background: #e72240;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .formBackBtn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // gap: 4px;
        text-transform: capitalize;
        padding: 0;
        font-weight: var(--Regular);
        font-size: var(--SubTitle-2);
        text-align: center;
        color: var(--Subtext-Color);
        transition: all 0.2s;

        &:hover {
          color: var(--Primary-Text-Color);
        }
      }

      &.dialogDeletButtonBox {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 900px) {
  .headerDialogBox {
    .dialogBody {
      .dialogSidebar {
        width: 200px;
        padding: 10px;
      }
      .dialogFormBox {
        padding: 12px;
        gap: 50px;
      }
    }
  }
}

@media (max-width: 750px) {
  .headerDialogBox {
    .dialogBody {
      .dialogSidebar {
        width: 200px;
        padding: 10px;
      }
      .dialogFormBox {
        padding: 12px;
        gap: 50px;

        .dialogFormContent {
          .dialogFormInner {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .headerDialogBox {
    .dialogBody {
      .dialogSidebar {
        width: 180px;
        padding: 10px;
      }
      .dialogFormBox {
        gap: 20px;
      }
    }
    .dialogFormButtonBox {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

.mobileInputBox {
  .mobileInput {
    border: 1px solid var(--Stroke-Color) !important;
    border-radius: 12px;
  }
  .selectNew fieldset {
    border-style: unset;
    border-width: unset;
    border-color: unset;
    position: relative;
    padding: 0 !important;
  }
  .selectNew {
    width: 70px !important;
    padding-right: 0 !important;
  }
  .selectNew:before {
    background-color: var(--Placeholder-Text);
    content: '';
    position: absolute;
    top: 50%;
    right: -3px;
    width: 1px;
    height: 29px;
    transform: translateY(-50%);
  }
  .mobileInput svg {
    right: 0;
    fill: white;
    top: 0;
    transform: translateY(50%);
  }
}
