/* Form Header */
.formCard {
  label {
    font-size: var(--SubTitle-2);
    font-weight: var(--Regular);
  }
}

.formCard {
  border: 1px solid var(--Stroke-Color);
  background-color: var(--Card-Color);
  max-width: 515px;
  width: 515px;
  margin: 0 auto;
  border-radius: 24px;
  padding: 32px 24px;

  @media (max-width: 550px) {
    max-width: calc(100% - 32px);
    width: 100%;
    margin: 0 auto;
    padding: 32px 16px;
  }

  @media (max-width: 400px) {
    padding: 16px;
  }
}

.formLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.formLogo img {
  display: block;
  object-fit: cover;
  width: 289.125px;
  height: auto;
  @media (max-width: 550px) {
    max-width: 200px;
  }
}

.formHeader {
  margin-bottom: 32px;

  @media (max-width: 550px) {
    margin-bottom: 32px;
  }
}

.formHeader .formTitle {
  font-size: var(--Heading-1);
  font-weight: var(--Bold);
  color: var(--Primary-Text-Color);
  text-align: center;
  margin-bottom: 8px;
  @media (max-width: 550px) {
    font-size: var(--Heading-2);
  }
}

.formHeader .formSubtitle {
  font-weight: var(--Regular);
  font-size: var(--SubTitle-2);
  text-align: center;
  color: var(--Subtext-Color);
}

/* Google Login */
.googleLogin {
  margin-top: 36px;
  background-color: var(--Input-Box-Colors);
  border: 1px solid var(--Stroke-Color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  @media (max-width: 550px) {
    margin-top: 32px;
    padding: 12px;
  }
}

.googleLogin p {
  font-weight: var(--Medium);
  font-size: var(--SubTitle-2);
  color: var(--Primary-Text-Color);
  margin-bottom: 0;
  @media (max-width: 550px) {
    font-size: var(--SubTitle-3);
  }
}

/* Already Login */
.alreadyLogin {
  max-width: 515px;
  padding: 24px;
  margin: 48px auto 0 auto;
  background: var(--Main-Gradient);
  background-blend-mode: overlay;

  border-radius: 24px;
  display: flex;
  align-items: center;

  @media (max-width: 550px) {
    max-width: 100%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  @media (max-width: 400px) {
    flex-wrap: wrap;
  }

  p {
    font-family: Fustat;
    font-weight: var(--Regular);
    font-size: var(--SubTitle-3);
    color: var(--Txt-On-Gradient);
    @media (max-width: 550px) {
      font-size: var(--SubTitle-3);
    }
    @media (max-width: 400px) {
      margin-bottom: 20px;
    }
  }

  h4 {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-1);
    line-height: 1.4;
    color: var(--Txt-On-Gradient);

    @media (max-width: 550px) {
      font-size: var(--SubTitle-2);
    }
  }
}

.loginGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginGroup h4 {
  font-weight: var(--Medium);
  font-size: var(--SubTitle-1);
}

.loginGroup p {
  font-weight: var(--Regular);
  font-size: var(--SubTitle-3);
  line-height: 1.4;
  color: var(--Txt-On-Gradient);
  margin-bottom: 0;
}

/* Google Button Icon */
.googleBtnIcon {
  width: 20px;
  height: 20px;
  display: block;
  object-fit: cover;
  margin-right: 5px;
}

/* Login Section */
.authSection {
  padding: 80px 0;
  position: relative;
  width: 100%;
  min-height: 100vh;

  @media (max-width: 550px) {
    padding: 48px 0;
    padding-bottom: 150px;
  }

  @media (max-width: 550px) {
    padding-bottom: 210px;
  }
}

.authContainer {
  position: relative;
  z-index: 999;
}

/* Background Effects */
.before,
.after {
  content: '';
  position: fixed;
  z-index: 99;
  opacity: 0.08;
}

.before {
  left: -74px;
  top: -100px;
  width: 460px;
  height: 148px;
}

.after {
  right: -210px;
  bottom: 0px;
  width: 947px;
  height: 306px;
  left: auto;
}

.btnGroup {
  margin-top: 25px;
  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.btnGroup a {
  @media (max-width: 400px) {
    order: 1;
    text-align: end;
    width: 100%;
    margin-top: 20px;
  }
}

.select-new {
  padding-right: 50px;
}

.mobileInputBox {
  .mobileInput {
    border: 1px solid var(--Stroke-Color) !important;
    border-radius: 12px;
  }
  .selectNew fieldset {
    border-style: unset;
    border-width: unset;
    border-color: unset;
    position: relative;
    padding: 0 !important;
  }
  .selectNew {
    width: 70px !important;
    padding-right: 0 !important;
  }
  .selectNew:before {
    background-color: var(--Placeholder-Text);
    content: '';
    position: absolute;
    top: 50%;
    right: -3px;
    width: 1px;
    height: 29px;
    transform: translateY(-50%);
  }
  .mobileInput svg {
    right: 0;
    fill: white;
    top: 0;
    transform: translateY(50%);
  }
}
