.dialogBox {
  border: 1px solid #3a3948;
  border-radius: 11px;

  .dialogHeader {
    background-color: #11101b;
    border: 1px solid #3a3948;
    border-bottom: 0;
    padding: 16px 24px;
    border-radius: 12px 12px 0 0;
    min-width: 600px;

    h2 {
      padding: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
    }
  }

  .dialogBody {
    background-color: #11101b;
    padding: 0 24px;
    border-radius: 0 0 12px 12px;
    border: 1px solid #3a3948;
    padding-top: 24px;

    .dialogContent {
      background-color: #1b1a25;
      border-radius: 10px;
      padding: 50px 20px;
      text-align: center;
      margin: 24px 0;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #676972;
        margin: 0 auto;
        margin-top: 9px;
        max-width: 400px;

        span {
          border-bottom: 1px solid #676972;
        }
      }

      img {
        margin: 0 auto;
      }
    }
  }
}

.fileBoxBody {
  padding-bottom: 2px;
}

.fileBoxInner {
  border: 1px solid #3a3948;
  padding: 8px;
  border-radius: 8px;
  background-color: #1b1a25;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  .fileGridBox {
    .fileBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 8px;

      .fileIcon {
        width: 24px;
        display: inline-flex;
        flex: 0 0 auto;
        padding: 3px 5px;
        background-color: #2c2a38;
        border-radius: 3px;
      }

      p {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #dadae1;
      }

      .trashImg {
        width: 16px;
        flex: 0 0 auto;
      }
    }

    .fileSemiTitle {
      margin-top: 12px;
      background-color: #2c2a38;
      border-radius: 6px;
      padding: 7px 8px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #dadae1;
      }
    }
  }
}

.dialogButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px 0;
  background-color: #11101b;
  position: sticky;
  bottom: 0;

  .uploadBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    background-color: unset;
    margin: 0;
    gap: 8px;
    box-shadow: none;
  }

  button {
    margin-top: 0;
  }
}
