.logIncidentSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--Background-Color);
  position: sticky;
  top: 0;
  z-index: 1;

  button {
    margin-left: 16px;
  }

  .searchInput {
    border: 1px solid var(--Stroke-Color);
    border-radius: 10px;
    padding: 4px 4px 4px 12px;
    width: 100%;
    color: var(--Subtext-Color);

    &::after {
      content: none !important;
    }

    input {
      color: var(--Primary-Text-Color);
      padding: 0;
    }
  }

  .searchIcon {
    cursor: pointer;

    .search {
      background-image: url('/images/search.svg');
      width: 28px;
      height: 28px;
      aspect-ratio: 1 / 1;
      display: block;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      border: 0.72px solid var(--Stroke-Color);
      background-color: var(--Card-Image);
      padding: 7px;
      border-radius: 8px;
    }
  }
}

.loIncidentTable {
  min-height: calc(100% - 95px - 88px) !important;
  height: auto !important;
  padding: 0 24px;
}

.mainDropdown {
  ul {
    border-radius: 12px;
    padding: 0;
    background-color: #1b1a25;
    color: #dadae1;
    padding: 4px;
    box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    min-width: 100px;

    &:hover {
      background-color: #2c2a38;
    }

    img {
      flex: 0 0 auto;
    }

    p {
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      color: #e72240;
      width: 100%;
    }
  }
}
