.logIncidentSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--Background-Color);
  position: sticky;
  top: 0;
  z-index: 1;

  button {
    margin-left: 16px;
  }

  .searchInput {
    border: 1px solid var(--Stroke-Color);
    border-radius: 10px;
    padding: 4px 4px 4px 12px;
    width: 100%;
    color: var(--Subtext-Color);

    &::after {
      content: none !important;
    }

    input {
      color: var(--Primary-Text-Color);
      padding: 0;
    }
  }

  .searchIcon {
    cursor: pointer;

    .search {
      background-image: url('/images/search.svg');
      width: 28px;
      height: 28px;
      aspect-ratio: 1 / 1;
      display: block;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      border: 0.72px solid var(--Stroke-Color);
      background-color: var(--Card-Image);
      padding: 7px;
      border-radius: 8px;
    }
  }
}

.loIncidentTable {
  min-height: calc(100% - 95px - 88px) !important;
  height: auto !important;
  padding: 0 24px;
}

.mainDropdown {
  ul {
    border-radius: 12px;
    padding: 0;
    background-color: #1b1a25;
    color: #dadae1;
    padding: 4px;
    box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    min-width: 100px;

    &:hover {
      background-color: #2c2a38;
    }

    img {
      flex: 0 0 auto;
    }

    p {
      font-weight: var(--Reular);
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      color: var(--Txt-On-Gradient);
      width: 100%;
    }

    &.menuDropdownDelete {
      p {
        color: #e72240;
      }
    }
  }
}

.emptyContainer {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .emptyImage {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
  }

  .emptyTitle {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    text-align: center;
    margin: 31px 0;
    color: var(--Placeholder-Text);
  }
}

// Listing

.logListingBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.logListing {
  background-color: var(--Background-Color);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid var(--Stroke-Color);

  .logListHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 8px;

    .logTitle {
      font-weight: 600;
      font-size: 16px;
      color: var(--Primary-Text-Color);
    }
  }

  .logListBody {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .logListBodyTag {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      padding: 2px 8px;
      background: var(--Stroke-Color);
      border-radius: 500px;

      .logListBodyTagTitle {
        font-weight: 400;
        font-size: 13px;
        color: var(--Subtext-Color);
      }
    }
  }

  .logListFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    .logListFooterTitle {
      font-weight: 400;
      font-size: 12px;
      color: #898b94;
    }

    .logListFooterDetails {
      font-weight: 400;
      font-size: 12px;
      color: #898b94;
    }
  }
}

// Listing
