.logIncidentSearchMain {
  padding: 24px 33px 24px 33px;
  background-color: var(--Background-Color);
  position: sticky;
  top: 0;
  z-index: 3;

  @media (max-width: 1440px) {
    padding: 12px 24px 12px 24px;
  }

  @media (max-width: 1200px) {
    padding: 12px 16px 12px 16px;
  }

  .allSelect {
    margin-top: 16px;
  }

  .logIncidentSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;

    @media (max-width: 500px) {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .search-btn {
      background-color: var(--Card-Color);
      padding: 6px;
      border: 1px solid var(--Stroke-Color);
      min-width: unset;
      border-radius: 10px;
      aspect-ratio: 1 / 1;

      @media (max-width: 500px) {
        width: calc(100%);
      }

      &.active {
        background: var(--Main-Gradient);
      }
    }

    .searchInput {
      border: 1px solid var(--Stroke-Color);
      border-radius: 10px;
      padding: 4px 4px 4px 12px;
      width: 100%;
      color: var(--Subtext-Color);

      &::after {
        content: none !important;
      }

      &::before {
        content: none !important;
      }

      input {
        color: var(--Primary-Text-Color);
        padding: 0;
        font-size: var(--SubTitle-3);
        font-weight: var(--Lighter);
      }
    }

    .filter-btn-box {
      @media (max-width: 500px) {
        order: 3;
      }
    }

    button {
      @media (max-width: 500px) {
        width: calc(100% - 34px - 16px);
        order: 2;
      }
    }

    .searchIcon {
      cursor: pointer;

      .search {
        background-image: url('/images/search.svg');
        width: 28px;
        height: 28px;
        aspect-ratio: 1 / 1;
        display: block;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
        border: 0.72px solid var(--Stroke-Color);
        background-color: var(--Card-Image);
        padding: 7px;
        border-radius: 8px;
      }
    }
  }
}

.loIncidentTable {
  // min-height: calc(100% - 95px - 88px) !important;
  // height: auto !important;
  flex-grow: 1;
  flex: 1;
  padding: 0 24px;
  overflow-y: auto;

  .noDataFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.mainDropdown {
  ul {
    border-radius: 12px;
    padding: 0;
    background-color: var(--Input-Box-Colors);
    color: var(--Primary-Text-Color);
    padding: 4px;
    // box-shadow: -5px 8px 21px 0px #00000026;
  }

  .menuDropdown {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    min-width: 100px;

    &:hover {
      background-color: var(--Card-Image);
    }

    img {
      flex: 0 0 auto;
    }

    p {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-2);
      line-height: 1.4;
      color: var(--Txt-On-Gradient);
      width: 100%;
    }

    &.menuDropdownDelete {
      p {
        color: var(--Red-Color);
      }
    }
  }
}

.emptyContainer {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .emptyImage {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
  }

  .emptyTitle {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    text-align: center;
    margin: 31px 0;
    color: var(--Placeholder-Text);
  }
}

// Listing

.logListingBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.logListing {
  background-color: var(--Card-Color);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--Stroke-Color);
  }

  &:active {
    border: 1px solid var(--Card-Border);
  }

  .logListHeader {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: start;
    // gap: 8px;

    .logListHeaderLeft {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }

    .logTitle {
      cursor: pointer;
      font-weight: var(--Medium);
      font-size: var(--SubTitle-2);
      color: var(--Primary-Text-Color);
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      word-break: break-all;
    }
  }

  .logListBodyMain {
    flex-grow: 1;

    .logListBody {
      margin-top: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;

      .logListBodyTag {
        width: fit-content;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        padding: 2px 8px;
        background: var(--Stroke-Color);
        border-radius: 500px;

        .logListBodyTagTitle {
          font-weight: var(--Lighter);
          font-size: var(--SubTitle-4);
          color: var(--Subtext-Color);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .logListFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    .logListFooterTitle {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }

    .logListFooterDetails {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }
  }
}

// Listing

.allSelect {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @media (max-width: 500px) {
    gap: 0;
  }

  label {
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;

    input {
      width: 16px;
      height: 16px;
      cursor: pointer;
      accent-color: var(--Main-Gradient);
    }

    span {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-3);
      line-height: 1.4;
      padding: 0;

      svg {
        border: none;
      }
    }
  }

  .generateDocBtn {
    @media (max-width: 500px) {
      order: 1;
      width: 100%;
    }
  }

  .limitation {
    color: var(--Subtext-Color);
    outline-color: var(--Stroke-Color) !important;
    cursor: no-drop;

    &:hover {
      outline: none;
    }

    img {
      filter: brightness(0.5);
    }
  }
}

.date-chip-box {
  overflow: hidden;
  transition: all 0.4s;
  max-width: calc(100% - 240px);
  /* Prevents overflow */
  overflow-x: hidden;
  /* Optional: hides horizontal scroll if needed */
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &:empty {
    @media (max-width: 500px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 500px) {
    order: 2;
    flex-wrap: wrap;
    gap: 0;
  }

  .date-chip-inner {
    flex: 0 0 auto;
    padding: 4px 8px;
    border-radius: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Input-Box-Colors);
    border: 1px solid var(--Stroke-Color);
    display: flex !important;
    width: fit-content !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    .date-chip-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      white-space: nowrap;

      span {
        font-size: var(--SubTitle-5);
        font-weight: var(--Lighter);
        line-height: 17px;
        color: var(--Subtext-Color);
        margin-right: 8px;

        &:last-child {
          color: var(--Primary-Text-Color);
        }
      }
    }

    .chip-btn {
      min-width: unset;
      padding: 4px;
      border: 1px solid var(--Stroke-Color);
      background: var(--Card-Color);

      @media (max-width: 500px) {
        width: fit-content;
      }
    }
  }
}

// Slider

.sliderWrapper {
  position: relative;
  padding: 0 20px;
}

.slide {
  background-color: var(--Primary-Text-Color);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 0 5px;
}

.arrow {
  position: absolute;
  top: calc(50% + 8px);
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}

.sliderWrapper,
.slick-slider {
  min-width: calc(100% - 270px);
  width: auto;
}

.slick-initialized,
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-list {
  padding: 0 20px;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.slick-track {
  margin-top: 16px;
}

// Slider