.headerDialogBox {
  background: rgb(17 16 27 / 0%);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

.dialogHeader {
  border-bottom: 1px solid var(--Stroke-Color);
  padding: 16px 24px;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.dialogHeaderInner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0 !important;
  max-width: calc(100% - 30px);
}

.dialogIcon {
  background-color: var(--Card-Image);
  border-radius: 8px;
  border: 1px solid var(--Stroke-Color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDialogBox {
  .dialogTitle {
    font-weight: var(--Bold);
    font-size: var(--SubTitle-1);
    line-height: 1.4;
    color: var(--Primary-Text-Color);
  }
}

.dialogHeaderInner .dialogSemiTitle {
  font-weight: var(--Regular);
  font-size: var(--SubTitle-3);
  line-height: 1.4;
  color: var(--Subtext-Color);
}

// accordionBox

.accordionBox {
  background: var(--Background-Color) !important;
  border: none !important;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-width: unset !important;
  min-height: unset !important;
  border-radius: 12px !important;
  margin-top: 0px !important;

  button {
    min-height: unset !important;
    color: var(--Primary-Text-Color);
    padding: 8px 12px;
  }

  span {
    margin: 0 !important;
  }
}

// accordionBox

// Checkbox Cards
.card-options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.checkbox-card {
  flex: 1;
  min-width: fit-content;
  max-width: fit-content;
}

.checkbox-card input[type='checkbox'] {
  display: none;
}

.checkbox-card label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Stroke-Color);
  border-radius: 500px;
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  color: var(--Subtext-Color);
  transition: background 0.3s ease;
  font-size: var(--SubTitle-2);
  font-weight: var(--Lighter);
}

.checkbox-icon {
  margin-right: 8px;
}

.checkbox-card input[type='checkbox']:checked+label {
  border-color: var(--Stroke-Color);
  background: var(--Main-Gradient);
  color: var(--Txt-On-Gradient);
}

.checkbox-card input[type='checkbox']:checked+label img {
  filter: brightness(0) invert(1000);
}

.checkbox-card input[type='checkbox']:checked+label .icon {
  color: var(--info);
}

// @media (max-width: 768px) {
//   .checkbox-card {
//     max-width: 100%;
//   }
// }
// Checkbox Cards

.specify-input {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.specify-input-show {
  height: 55px;
}

// upload

.dialogContent {
  border: 1px solid var(--Stroke-Color);
  border-radius: 10px;
  padding: 18px 20px;
  text-align: center;

  p {
    font-weight: var(--Lighter);
    font-size: var(--SubTitle-3);
    line-height: 1.4;
    text-align: center;
    color: var(--Placeholder-Text);
    margin: 0 auto;
    margin-top: 9px;
    max-width: 240px;

    &:last-child {
      max-width: unset;
    }

    span {
      border-bottom: 1px solid transparent;
    }
  }

  img {
    margin: 0 auto;
  }
}

// label

.headerDialogBox {
  .dialogFormGroupMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 24px;

    @media (max-width: 450px) {
      flex-wrap: wrap;
      gap: 24px;
    }

    .dialogFormGroup {
      width: 50%;
      max-width: calc(50% - 8px);
      flex: 0 0 auto;
      margin-top: 0;

      @media (max-width: 450px) {
        width: 100%;
        max-width: 100%;
      }

      svg {
        fill: var(--Primary-Text-Color);
      }
    }
  }

  .dialogFormGroup {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  .dialogFormLabel {
    font-size: var(--SubTitle-2);
    font-weight: var(--Regular);
    color: var(--Subtext-Color);
    line-height: 1.4;
    display: block;
    margin-bottom: 8px;
  }
}

.dialogFormContentBox {
  max-height: calc(90dvh - 200px);
  overflow-y: auto;
  padding: 0 24px !important;
  padding-top: 24px !important;

  @media (max-width: 768px) {
    padding: 0 16px !important;
    padding-top: 16px !important;
  }
}

.dialogFormButtonBoxMain {
  padding: 32px 24px !important;

  @media (max-width: 768px) {
    padding: 16px !important;
  }

  .dialogFormButtonBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
  }

  .formCancelBtn {
    text-transform: capitalize;
    padding: 0;
    font-weight: var(--Regular);
    font-size: var(--SubTitle-2);
    line-height: 1.4;
    text-align: center;
    color: var(--Subtext-Color);
    transition: all 0.2s;

    &:hover {
      color: var(--Primary-Text-Color);
    }
  }
}

// Log Successfully

.dialogLogContentBox {
  text-align: center;
  padding: 32px 24px !important;

  @media (max-width: 768px) {
    padding: 32px 16px !important;
  }

  .dialogIncidentHead {
    font-size: var(--Heading-1);
    font-weight: var(--Bold);
    color: var(--Primary-Text-Color);
    margin-top: 30px;

    @media (max-width: 768px) {
      font-size: var(--SubTitle-1);
      margin-top: 20px;
    }
  }

  .dialogIncidentDetails {
    font-size: var(--SubTitle-2);
    font-weight: var(--Regular);
    color: var(--Subtext-Color);
    max-width: 382px;
    margin: 0 auto;
    margin-top: 8px;

    @media (max-width: 768px) {
      font-size: var(--SubTitle-3);
    }
  }

  .dialogIncidentBtnBox {
    margin-top: 32px;
  }
}

// Log Successfully

// Log Details

.dialogFormContentDetailsBox {
  max-height: calc(90dvh - 200px);
  overflow-y: auto;
  padding: 24px !important;

  .logTitle {
    font-weight: var(--Medium);
    font-size: var(--SubTitle-1);
    color: var(--Primary-Text-Color);
  }

  .logListBody {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .logListBodyTag {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      padding: 2px 8px;
      border-radius: 500px;
      max-width: 100%;

      .logListBodyTagTitle {
        font-weight: var(--Lighter);
        font-size: var(--SubTitle-4);
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }

  .logListFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    .logListFooterTitle {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }

    .logListFooterDetails {
      font-weight: var(--Lighter);
      font-size: var(--SubTitle-5);
      color: var(--Subtext-Color);
    }
  }
}

.logDetailsList {
  border-top: 1px solid var(--Stroke-Color);
  padding-top: 12px;
  margin-top: 16px;

  .logDetailsListInner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    margin-top: 14px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0px;
    }

    &:first-child {
      margin-bottom: 0;
    }
  }

  .logDetailsListTitle {
    font-weight: var(--Regular);
    font-size: var(--SubTitle-2);
    color: var(--Subtext-Color);
  }

  .logDetailsListDetails {
    .logDetailsListDetailsInner {
      font-weight: var(--Regular);
      font-size: var(--SubTitle-2);
      text-align: right;
      color: var(--Primary-Text-Color);
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .logDetailsList {
    .logDetailsListInner {
      display: block;
    }

    .logDetailsListDetails {
      .logDetailsListDetailsInner {
        text-align: left;
      }
    }
  }
}

// Log Details